<!doctype html>
<html lang="en">
{% include head4.html %}
<body data-new-gr-c-s-check-loaded="14.1098.0" data-gr-ext-installed="">
{% include script5.html %}
<div class="gradient__bg">
{% include navbar.html %}
<div style="overflow: hidden;" class="gpt3__header section__padding" id="home">
  <div class="gpt3__header-content"><h1 class="gradient__text">EMERSA</h1>
    <div class="wrapper">
      <div class="video-main">
        <div class="promo-video">
          <div class="waves-block">
            <div class="waves wave-1"></div>
            <div class="waves wave-2"></div>
            <div class="waves wave-3"></div>
        </div>
      </div>
<a href="https://youtu.be/vDwgWHw7eWA" class="video video-popup mfp-iframe" data-lity="true">
  <i class="fa fa-play" style="margin-top: 33%;"></i>
</a>
</div>
</div>
<p>Connections are evolving and so do we. <br> Virtual heaven with limitless possibilities.</p>
<div class="gpt3__header-content__input">
  <a target="_blank" rel="noreferrer" href="https://discord.gg/aeeHKD6AR3"> <button id="bt">Join discord</button> </a>
</div>
<div class="gpt3__header-content__people"><p>Support the server &amp; Join Emersa Discord Community</p></div></div>
<div id="gpt3headerimage" class="gpt3__header-image">
  <section id="loading-screen">

    <div id="loader"></div>

</section>
  {% include chatbotwithcolomn1.html %}
</div>
</div>
</div>
<div class="gpt3__brand section__padding">
<div><img src="/media/google.54dc1fc9.png" class="google"></div>
<div><img src="/media/dropbox.e9792e93.png" class="dropbox"></div>
<div><img src="/media/shopify.e9b6fccf.png" class="shopify"></div>
</div>
<div class="gpt3__whatgpt3 section__margin" id="wgpt3">
<div class="gpt3__whatgpt3-feature">
<div class="gpt3__features-container__feature">
<div class="gpt3__features-container__feature-title">
  <div>
  </div>
  <h1>What is Emersa</h1>
</div>
<div class="gpt3__features-container_feature-text">
  <p> A pioneering 21st century digital connection. The focus is on communication, title:  "Welcome to Emersa" and education. Built on Unreal Engine and Blockchain with our governance token $ROLAIS, we're aiming to deliver the best most secure social space for you. Join us now.</p>
</div>
</div>
</div>
<div class="gpt3__whatgpt3-heading">
  <h1 class="gradient__text">Virtual Heaven</h1>
</div>
<div class="gpt3__whatgpt3-container">
  <div class="gpt3__features-container__feature">
    <div class="gpt3__features-container__feature-title">
      <div>
      </div>
      <h1>SELL</h1>
    </div>
<div class="gpt3__features-container_feature-text">
  <p>Extended reality is the future. Distance will vanish. Connect across the Globe in ways you dream of.</p>
</div>
</div>
<div class="gpt3__features-container__feature">
  <div class="gpt3__features-container__feature-title">
    <div></div>
    <h1>EXPERIENCE</h1>
  </div>
<div class="gpt3__features-container_feature-text">
  <p>Every moment is in front of your eyes. Experience Emersa Akashaverse.</p>
</div>
</div>
<div class="gpt3__features-container__feature">
  <div class="gpt3__features-container__feature-title">
    <div></div>
    <h1>TRAIN</h1>
  </div>
<div class="gpt3__features-container_feature-text">
  <p>Web3 integrating virtual reality brings the best and most effective hands on learning experience.</p>
</div>
</div>
</div>
</div>
<div class="gpt3__features section__padding" id="features">
  <div class="gpt3__features-heading">
    <h1 class="gradient__text">The Future is Now. Let's Make it Happen.</h1>
    <p>Opening Soon</p>
  </div>
<div class="gpt3__features-container">
  <div class="gpt3__features-container__feature">
    <div class="gpt3__features-container__feature-title">
      <div></div>
      <h1>Create.</h1>
    </div>
<div class="gpt3__features-container_feature-text">
  <p>Create your own personalized world, a world you feel the most comfortable and proud at and share it with others.</p>
</div>
</div>
<div class="gpt3__features-container__feature">
  <div class="gpt3__features-container__feature-title">
    <div></div>
    <h1>Explore.</h1>
  </div>
<div class="gpt3__features-container_feature-text">
  <p>Explore your friends worlds and see the life from their perspective.</p>
</div>
</div>
<div class="gpt3__features-container__feature">
  <div class="gpt3__features-container__feature-title">
    <div></div>
    <h1>Trade.</h1>
  </div>
<div class="gpt3__features-container_feature-text">
  <p>Buy and sell digital items, enjoy the experience while making money on the go.</p>
</div>
</div>
<div class="gpt3__features-container__feature">
  <div class="gpt3__features-container__feature-title">
    <div></div>
    <h1>Display</h1>
  </div>
<div class="gpt3__features-container_feature-text">
  <p>Customise the showcase of your digital items with the ultra privacy blockchain offers.</p>
</div>
</div>
</div>
</div>
<div class="gpt3__possibility section__padding" id="possibility">
  <div class="gpt3__possibility-image">
    <img src="/media/possibility.png" alt="possibility">
  </div>
<div class="gpt3__possibility-content">
  <h4>Early Access Soon</h4>
  <h1 class="gradient__text">The possibilities are <br> beyond your imagination</h1>
  <p>Emersa offers technologies helping people connect, find communities, and grow businesses. Share immersive experiences with other people and do things together you couldn’t do in the physical world. It’s the next evolution in a long line of social technologies. Be part of change.</p>
  <h4>Education &amp; Sustainability is key.</h4>
</div>
</div>
<div class="gpt3__cta">
  <div class="gpt3__cta-content">
    <p>Register for Presale</p>
    <h3>Register Today &amp; start exploring the endless possibilities.</h3>
  </div>
<div class="gpt3__cta-btn">
  <a target="_blank" rel="noreferrer" href="https://forms.gle/RmPfXnLzgbuYAqPY6">
    <button id="bt">The PRESALE form</button>
  </a>
</div>
</div>
<div>
  <section>
    <div class="container" id="team">
      <div class="row flex-center sm-no-flex">
        <div class="pull-right sm-no-float col-md-8">
          <ul class="team-members">
            <li class="clearfix">
              <div class="member-details">
                <div>
                  <img src="/media/person1.c7cbe279.png" alt="UI Designer">
                    <div class="member-info">
                      <h3>Alan Solis</h3>
                      <p>CMO</p>
                    </div>
                </div>
              </div>
<div class="member-details">
  <div>
    <img src="/media/shant.8f4eadb8.png" alt="UI Designer">
    <div class="member-info">
      <h3>Shant Pourian</h3>
      <p>CBO</p>
    </div>
  </div>
</div>
<div class="member-details">
  <div>
    <img src="/media/martin.86954b11.png" alt="CMO">
    <div class="member-info">
      <h3>Martin Kuprik</h3>
      <p>CEO &amp; Founder</p>
    </div>
  </div>
</div>
</li>
</ul>
</div>
<div class="pull-left col-md-4 sm-text-center">
  <div class="team-overview">
    <h2>Who Are We?</h2>
    <p></p>
    <div>Emersa A-team is a bunch of geeks, nerds and artists coming together to share knowledge. Our goal is to build highly-engaging experiences in the metaverse.</div>
    <p></p>
  </div>
</div>
</div>
</div>
</section>
</div>
<div class="gpt3__blog section__padding" id="blog">
  <div class="gpt3__blog-heading">
    <h1 class="gradient__text">A lot is happening <br> Emersa Unreal visual demo v2.4 is in.</h1>
  </div>
<div class="gpt3__blog-container">
  <div class="gpt3__blog-container_groupA">
    <div class="gpt3__blog-container_article">
      <div class="gpt3__blog-container_article-image">
        <img src="/media/blog01.ca941581.png" alt="blog_image">
      </div>
<div class="gpt3__blog-container_article-content"><div>
  <p>Jan 21,2022</p>
  <h3>Emersa genesis land NFTs presale coming soon.</h3>
</div>
<p>Opening soon</p>
</div>
</div>
</div>
<div class="gpt3__blog-container_groupB">
  <div class="gpt3__blog-container_article">
    <div class="gpt3__blog-container_article-image">
      <img src="/media/blog02.cef4bf25.png" alt="blog_image">
    </div>
<div class="gpt3__blog-container_article-content"><div>
  <p></p>
  <h3>Fashion a new way to express.</h3>
</div>
<p>Opening soon</p>
</div>
</div>
<div class="gpt3__blog-container_article">
  <div class="gpt3__blog-container_article-image">
    <img src="/media/blog03.9784676f.png" alt="blog_image">
  </div>
<div class="gpt3__blog-container_article-content">
  <div>
    <p></p>
    <h3>Elevating education with more hands-on experiment.</h3>
  </div>
  <p>Opening soon</p>
</div>
</div>
<div class="gpt3__blog-container_article">
  <div class="gpt3__blog-container_article-image">
    <img src="/media/blog04.8e003c70.png" alt="blog_image">
  </div>
<div class="gpt3__blog-container_article-content">
  <div>
    <p></p>
    <h3>Collaboration is key.</h3>
  </div>
  <p>Opening soon</p>
</div>
</div>
<div class="gpt3__blog-container_article">
  <div class="gpt3__blog-container_article-image">
    <img src="/media/blog05.a064f6ae.png" alt="blog_image">
  </div>
<div class="gpt3__blog-container_article-content"><div>
  <p></p>
<h3>The gaming experience is a breeze at EMERSA.</h3>
</div>
<p>Opening soon</p>
</div>
</div>
</div>
</div>
</div>
<div class="gpt3__footer section__padding footer-main">
  <div class="gpt3__footer-heading">
    <h1 class="gradient__text">STEP INTO THE FUTURE</h1>
  </div>
  <p></p>
  <div class="gpt3__footer-btn">
    <a target="_blank" rel="noreferrer" href="https://discord.gg/aeeHKD6AR3">
      <button id="bt">Join Discord</button>
    </a>
  </div>
  <p></p>
  <div class="gpt3__footer-links">
    <div class="gpt3__footer-links_logo">
      <p><br>Web 3.0 is here. To access the Metaverse, connect your Metamask with Akasha City Genesis NFT. Obtain your token in MINTY</p>
    </div>
    <p><a target="_blank" rel="noreferrer" href="https://discord.gg/aeeHKD6AR3"><button id="bt">Join discord</button></a></p>
    <div class="gpt3__footer-links_div"></div>
<div class="gpt3__footer-links_div">
  <h4>Get in touch</h4>
  <a target="_blank" rel="noreferrer" href="https://twitter.com/emersaofficial"><button id="bt">Twitter</button></a>
  <p>dcl@akasha.gl</p>
</div>
</div>
<div class="gpt3__footer-copyright">
  <p>@2023 Beamport Analytics. All rights reserved.</p>
</div>
</div>
<script src="/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="/js/cheatsheet.js"></script>
<script src="/js/index.js"></script>
</body>
</html>