<header class="header  ">
    <div class="top-bar">
    <div class="container">
    <div class="container-inner">
    <div class="top-bar-wrap">
    <div class="menu-top-bar-container"><ul id="menu-top-bar" class="menu">
    <li id="menu-item-25727" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25727"><a href="/contact/">Contact</a></li>
    <li id="menu-item-16923" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-16923"><a href="https://www.sentinelone.com/blog/">Blog</a></li>
    </ul></div> <button class="search">
    <span class="light">
    <img src="/media/search-icon-white.svg" />
    </span>
    <span class="dark">
    <img src="/media/search-icon.svg" />
    </span>
    </button>
    <div class="search-form">
    <form autocomplete="off" method="get" action="https://www.sentinelone.com">
    <fieldset>
    <input type="search" name="s" placeholder="Search ..." value="" />
    <button class="search" type="submit">
    <span class="light">
    <img class="icon-search" src="/media/search-icon-white.svg" />
    <img class="icon-down" src="/media/navigation-close.svg" />
    </span>
    <span class="dark">
    <img class="icon-search" src="/media/search-icon.svg" />
    <img class="icon-down" src="/media/navigation-close-dark.svg" />
    </span>
    </button>
    </fieldset>
    </form>
    </div>
    </div>
    </div>
    <!--
    <div class="lang-select">
    <span class="label">en</span>
    <ul>
    <li class="current"><span data-subdomain="US" href="https://www.sentinelone.com//">English</span></li><li class=""><a data-subdomain="JP" href="https://jp.sentinelone.com//">日本語</a></li><li class=""><a data-subdomain="DE" href="https://de.sentinelone.com//">Deutsch</a></li><li class=""><a data-subdomain="ES" href="https://es.sentinelone.com//">Español</a></li><li class=""><a data-subdomain="FR" href="https://fr.sentinelone.com//">Français</a></li><li class=""><a data-subdomain="IT" href="https://it.sentinelone.com//">Italiano</a></li><li class=""><a data-subdomain="NL" href="https://nl.sentinelone.com//">Dutch</a></li><li class=""><a data-subdomain="KR" href="https://kr.sentinelone.com//">한국어</a></li> </ul>
    </div>
    -->
    </div>
    </div>
    <div class="navigation">
    <div class="container">
    <div class="logo fadein animated">
    <a href="/">
    <img class="light" src=" {{ site.logosvg }}" />
    <img src=" {{ site.logosvg }}" />
    <a href="/blog/"><span class="tag wow fadeIn">blog</span></a>
    </a>
    </div>
    <div class="nav-holder">
    <div class="nav-frame fadein animated delay-1s">
    <div class="menu-overlay"></div>
    <div class="menu-carbine-primary-container">
        <ul id="menu-carbine-primary" class="menu">
            <div class="marker"></div>
            <div class="mega-wrap"><div class="mega-wrap-inner"></div></div>
        {% include menu2.html %}
        <!---->
            </ul>
    </div>
    </div>
<!--
    <div class="lang-select">
    <span class="label">en</span>
    <ul>
    <li class="current"><span data-subdomain="US" href="https://www.sentinelone.com//">English</span></li><li class=""><a data-subdomain="JP" href="https://jp.sentinelone.com//">日本語</a></li><li class=""><a data-subdomain="DE" href="https://de.sentinelone.com//">Deutsch</a></li><li class=""><a data-subdomain="ES" href="https://es.sentinelone.com//">Español</a></li><li class=""><a data-subdomain="FR" href="https://fr.sentinelone.com//">Français</a></li><li class=""><a data-subdomain="IT" href="https://it.sentinelone.com//">Italiano</a></li><li class=""><a data-subdomain="NL" href="https://nl.sentinelone.com//">Dutch</a></li><li class=""><a data-subdomain="KR" href="https://kr.sentinelone.com//">한국어</a></li> </ul>
    </div>
-->
    <div class="menu-toggle"><a href="#"><span></span></a></div>
    </div>
    <a class="demo fadein animated" href="/request-demo/"><span>Get a Demo</span></a>
    <div class="nav-bg"></div>
    <div class="nav-drawer">
    <div class="upper">
    <div class="logo fadein animated">
    <a href="/">
    <img class="light" src=" {{ site.logosvg }}" />
    <img src=" {{ site.logosvg }}" />
    <span class="tag wow fadeIn">blog</span>
    </a>
    </div>
    <div class="toolbar">
    <a class="back"><img src="/media/navigation-arrow-left.svg" /><span>Back</span></a>
    <a class="close"><img src="/media/navigation-close.svg" /></a>
    </div>
    <div class="menu-wrapper">
    <div class="menu-carbine-primary-container">
    <ul id="menu-carbine-primary" class="menu">
    <div class="marker"></div>
    <div class="mega-wrap"><div class="mega-wrap-inner"></div></div>
    {% include menu3.html %}
    </ul>
    </div>
    </div>
    </div>
    <div class="lower">
    <a class="demo fadein animated" href="/request-demo/">Get a Demo</a>
    <div class="secondary-links">
    <div class="menu-top-bar-container"><ul id="menu-top-bar-1" class="menu">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25727"><a href="/contact/">Contact</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-16923"><a href="https://www.sentinelone.com/blog/">Blog</a></li>
    </ul></div><div class="menu-top-bar-container"><ul id="menu-top-bar-2" class="menu">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25727"><a href="/contact/">Contact</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-16923"><a href="https://www.sentinelone.com/blog/">Blog</a></li>
    </ul></div> </div>
    </div>
    </div>
    </div>
    </div>
    <script>Navigation.start();</script>
    </header>