
<div style="background-color: rgba(54, 25, 25, .00004);" class="card4">
<div class="card-header msg_head">
<div class="d-flex bd-highlight">
<div class="img_cont">
<img src="/media/d1.jpg" class="rounded-circle user_img">
<span class="online_icon"></span>
</div>
<div class="user_info">
<span>Chat with EMERSA</span>

</div>

</div>

</div>

<div class="card-footer">



<input id="fileInput" type="file" style="display: none;">
        <div id="controls">
            <button id="openBtn">Open BVH File</button>
            <select id="animBtn" >
                <option style="display: none" value="-1">Set Animation</option>
            </select>
        </div>
</div>
</div>
<div style="display: none;">
<br />
<div style="color: black;" id="startButtonId">Open Mouth</div>
<div style="color: black;" id="resetButtonId">Blink</div>
<button onclick="dude()">Click me</button>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<!--<button style="margin-top: 30px;" class="server5a" id="server5a">dude</button>-->
