<li class="menu-root-item active ">
    <a href="/platform/" target="">Platform</a>
    <div class="mega">
    <div class="container">
    <ul class="menu-groups">
    <li class="menu-group twoline cols-1">
    <div class="submenu-wrap">
    <div class="menu-label">Platform Overview</div>
    <ul class="submenu twoline cols-1">
    <li class="menu-item twoline cols-1 active">
    <a href="/platform/" target="">
    <div class="labels">
    <span class="title"><strong>{{ site.title }}</strong></span>
    <span class="subtitle">Welcome to Native <br>and Open XDR</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/platform/xdr-ingestion/" target="">
    <div class="labels">
    <span class="title"><strong>XDR Ingestion</strong></span>
    <span class="subtitle">One Home for All<br> Security Data</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/platform/how-singularity-xdr-works" target="">
    <div class="labels">
    <span class="title"><strong>How It Works</strong></span>
    <span class="subtitle">The Singularity XDR Difference</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/partners/singularity-marketplace/" target="">
    <div class="labels">
    <span class="title"><strong>Singularity Marketplace</strong></span>
    <span class="subtitle">One-Click Integrations to Unlock the Power of XDR</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    <li class="menu-group twoline cols-1">
    <div class="submenu-wrap">
    <div class="menu-label">Surfaces</div>
    <ul class="submenu twoline cols-1">
    <li class="menu-item twoline cols-1 ">
    <a href="/surfaces/endpoint/" target="">
    <div class="labels">
    <span class="title"><strong>Endpoint</strong></span>
    <span class="subtitle">Autonomous Prevention, Detection, and Response</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/surfaces/cloud/" target="">
    <div class="labels">
    <span class="title"><strong>Cloud</strong></span>
    <span class="subtitle">Autonomous Runtime Protection for Workloads</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/surfaces/identity/" target="">
    <div class="labels">
    <span class="title"><strong>Identity</strong></span>
    <span class="subtitle">Autonomous Identity & Credential Protection</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    <li class="menu-group twoline cols-1">
    <div class="submenu-wrap">
    <div class="menu-label">Platform Packages</div>
    <ul class="submenu twoline cols-1">
    <li class="menu-item twoline cols-1 ">
    <a href="/platform/singularity-complete/" target="">
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Complete</span>
    <span class="subtitle">The Standard for Enterprise Cybersecurity</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/platform/singularity-control/" target="">
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Control</span>
    <span class="subtitle">Organization-Wide <br>Protection and Control</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/platform/singularity-core/" target="">
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Core</span>
    <span class="subtitle">Cloud-Native NGAV</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/platform-packages/" target="">
    <div class="labels">
    <span class="title"><strong>Package Comparison</strong></span>
    <span class="subtitle">Our Platform at a Glance</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    <li class="menu-group twoline icon cols-2">
    <div class="submenu-wrap">
    <div class="menu-label">Platform Products</div>
    <ul class="submenu twoline icon cols-2">
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-cloud/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityCloud_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Cloud</span>
    <span class="subtitle">Container, VM, and Server Workload Security</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-remoteops/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityRemoteOps_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> RemoteOps</span>
    <span class="subtitle">Orchestrate Forensics at Scale</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-identity/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityIdentity_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Identity</span>
    <span class="subtitle">Identity Threat Detection<br> and Response</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-cloud-funnel/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityCloudFunnel_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> CloudFunnel</span>
    <span class="subtitle">Cloud-to-Cloud Telemetry Streaming</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-ranger-ad/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityRangerAD_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Ranger AD</span>
    <span class="subtitle">Active Directory Attack Surface Reduction</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-binary-vault/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityBinaryVault_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> BinaryVault</span>
    <span class="subtitle">Automatic File Sample Collection</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-ranger/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityRanger_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Ranger</span>
    <span class="subtitle">Rogue Asset Discovery</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-hologram/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityHologram_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Hologram</span>
    <span class="subtitle">Deception Protection</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline icon cols-2 ">
    <a href="/platform/singularity-mobile/" target="">
    <div class="iconbox" style="background-image:url( /media/SingularityMobile_Icon_Nav_36x36@2x.png )"></div>
    <div class="labels">
    <span class="title"><strong>Singularity </strong> Mobile</span>
    <span class="subtitle">Mobile Threat Defense</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="hover-underlay"></div>
    </li>
    <li class="menu-root-item  ">
    <a href="/why-sentinelone/" target="">Why {{ site.company }}?</a>
    <div class="mega">
    <div class="container">
    <ul class="menu-groups">
    <li class="menu-group twoline cols-1">
    <div class="submenu-wrap">
    <div class="menu-label">Why {{ site.company }}?</div>
    <ul class="submenu twoline cols-1">
    <li class="menu-item twoline cols-1 ">
    <a href="/why-sentinelone/" target="">
    <div class="labels">
    <span class="title"><strong>Why {{ site.company }}?</strong></span>
    <span class="subtitle">Cybersecurity Built<br>for What’s Next</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/customer-page/" target="">
    <div class="labels">
    <span class="title"><strong>Our Customers</strong></span>
    <span class="subtitle">Trusted by the World’s Leading Enterprises</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/industry-recognition/" target="">
    <div class="labels">
    <span class="title"><strong>Industry Recognition</strong></span>
    <span class="subtitle">Tested and Proven <br>by the Experts</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-1 ">
    <a href="/company/" target="">
    <div class="labels">
    <span class="title"><strong>About Us</strong></span>
    <span class="subtitle">The Industry Leader in Autonomous Cybersecurity</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    <li class="menu-group twoline cols-2">
    <div class="submenu-wrap">
    <div class="menu-label">Compare {{ site.company }}</div>
    <ul class="submenu twoline cols-2">
    <li class="menu-item twoline cols-2 ">
    <a href="/vs/crowdstrike/" target="">
    <div class="labels">
    <span class="title"><strong>CrowdStrike</strong></span>
    <span class="subtitle">Cyber Dependent <br>on a Crowd</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/vs/mcafee/" target="">
    <div class="labels">
    <span class="title"><strong>McAfee</strong></span>
    <span class="subtitle">Pale Performance, <br>More Maintenance</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/vs/microsoft/" target="">
    <div class="labels">
    <span class="title"><strong>Microsoft</strong></span>
    <span class="subtitle">Platform Coverage <br>That Compromises</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/vs/trend-micro" target="">
    <div class="labels">
      <span class="title"><strong>Trend Micro</strong></span>
    <span class="subtitle">The Risk of DevOps Disruption</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/vs/palo-alto-networks/" target="">
    <div class="labels">
    <span class="title"><strong>Palo Alto Networks</strong></span>
    <span class="subtitle">Hard to Deploy, <br>Harder to Manage</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/vs/carbon-black/" target="">
    <div class="labels">
    <span class="title"><strong>Carbon Black</strong></span>
    <span class="subtitle">Adapt Only as Quickly <br>as Your Block Lists</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/vs/symantec/" target="">
    <div class="labels">
    <span class="title"><strong>Symantec</strong></span>
    <span class="subtitle">Security Limited <br>to Signatures</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    <li class="menu-group single cols-1">
    <div class="submenu-wrap">
    <div class="menu-label">Verticals</div>
    <ul class="submenu single cols-1">
    <li class="menu-item single cols-1 ">
    <a href="/platform/energy/" target="">
    <div class="labels">
    <span class="title"><strong>Energy</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/platform/federal-government/" target="">
    <div class="labels">
    <span class="title"><strong>Federal Government</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/platform/finance/" target="">
    <div class="labels">
    <span class="title"><strong>Finance</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/platform/healthcare/" target="">
    <div class="labels">
    <span class="title"><strong>Healthcare</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/platform/highereducation/" target="">
    <div class="labels">
    <span class="title"><strong>Higher Education</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/platform/platform-cybersecurity-for-k12-education/" target="">
    <div class="labels">
    <span class="title"><strong>K-12 Education</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/platform/manufacturing/" target="">
    <div class="labels">
    <span class="title"><strong>Manufacturing</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/platform/retail/" target="">
    <div class="labels">
    <span class="title"><strong>Retail</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="hover-underlay"></div>
    </li>
    <li class="menu-root-item  ">
    <a href="/global-services/services-overview/" target="">Services</a>
    <div class="mega">
    <div class="container">
    <ul class="menu-groups">
    <li class="menu-group twoline cols-2">
    <div class="submenu-wrap">
    <div class="menu-label">Threat Services</div>
    <ul class="submenu twoline cols-2">
    <li class="menu-item twoline cols-2 ">
    <a href="/global-services/vigilance-respond-pro/" target="">
    <div class="labels">
    <span class="title"><strong>Vigilance Respond Pro </strong><br /> MDR + DFIR</span>
    <span class="subtitle">24x7 MDR with Full-Scale Investigation & Response</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/global-services/watchtower-pro/" target="">
    <div class="labels">
    <span class="title"><strong>WatchTower Pro </strong><br /> Threat Hunting</span>
    <span class="subtitle">Dedicated Hunting & Compromise Assessment</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/global-services/vigilance-respond" target="">
    <div class="labels">
    <span class="title"><strong>Vigilance Respond </strong><br /> MDR</span>
    <span class="subtitle">Dedicated SOC <br>Expertise & Analysis</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/global-services/watchtower/" target="">
    <div class="labels">
    <span class="title"><strong>WatchTower </strong><br /> Threat Hunting</span>
    <span class="subtitle">Hunting for Emerging Threat Campaigns</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    <a class="sublink" href="https://www.sentinelone.com/global-services/services-overview/" target="">Services Overview</a>
    </li>
    <li class="menu-group twoline cols-2">
    <div class="submenu-wrap">
    <div class="menu-label">Support, Deployment, & Health</div>
    <ul class="submenu twoline cols-2">
    <li class="menu-item twoline cols-2 ">
    <a href="/global-services/technical-account-management/" target="">
    <div class="labels">
    <span class="title"><strong>Technical Account Management</strong></span>
    <span class="subtitle">Customer Success with Personalized Service</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/global-services/sentinelone-go/" target="">
    <div class="labels">
    <span class="title"><strong>{{ site.company }} GO</strong></span>
    <span class="subtitle">Guided Onboarding & Deployment Advisory</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/global-services/university/" target="">
    <div class="labels">
    <span class="title"><strong>{{ site.company }} University</strong></span>
    <span class="subtitle">Live and On-Demand Training</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/global-services/support-services/" target="">
    <div class="labels">
    <span class="title"><strong>Support Services</strong></span>
    <span class="subtitle">Tiered Support Options for Every Organization</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="hover-underlay"></div>
    </li>
    <li class="menu-root-item  ">
    <a href="/partners/partner-overview/" target="">Partners</a>
    <div class="mega">
    <div class="container">
    <ul class="menu-groups">
    <li class="menu-group twoline cols-2">
    <div class="submenu-wrap">
    <div class="menu-label">Our Network</div>
    <ul class="submenu twoline cols-2">
    <li class="menu-item twoline cols-2 ">
    <a href="/partners/singularity-marketplace/" target="">
    <div class="labels">
    <span class="title"><strong>Singularity Marketplace</strong></span>
    <span class="subtitle">Extend the Power <br>of S1 Technology</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/partners/cyber-risk-partners/" target="">
    <div class="labels">
    <span class="title"><strong>Cyber Risk <br /> Partners</strong></span>
    <span class="subtitle">Enlist Pro Response <br>and Advisory Teams</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/partners/technology-alliance/" target="">
    <div class="labels">
    <span class="title"><strong>Technology Alliances</strong></span>
    <span class="subtitle">Integrated, Enterprise-Scale Solutions</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="/sentinelone-for-aws/" target="">
    <div class="labels">
    <span class="title"><strong>{{ site.company }} for AWS</strong></span>
    <span class="subtitle">Hosted in AWS Regions Around the World</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-2 ">
    <a href="https://partners.sentinelone.com/English/" target="">
    <div class="labels">
    <span class="title"><strong>Channel Partners</strong></span>
    <span class="subtitle">Deliver the Right <br>Solutions, Together</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    <a class="sublink" href="https://www.sentinelone.com/partners/partner-overview/" target="">Program Overview</a>
    </li>
    </ul>
    </div>
     </div>
    <div class="hover-underlay"></div>
    </li>
    <li class="menu-root-item  ">
    <a href="/resources/" target="">Resources</a>
    <div class="mega">
    <div class="container">
    <ul class="menu-groups">
    <li class="menu-group single cols-1">
    <div class="submenu-wrap">
    <div class="menu-label">Resource Center</div>
    <ul class="submenu single cols-1">
    <li class="menu-item single cols-1 ">
    <a href="/resources/category/case-study/" target="">
    <div class="labels">
    <span class="title"><strong>Case Studies</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/resources/category/data-sheet/" target="">
    <div class="labels">
    <span class="title"><strong>Data Sheets</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/resources/category/ebooks/" target="">
    <div class="labels">
    <span class="title"><strong>eBooks</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/resources/category/report/" target="">
    <div class="labels">
    <span class="title"><strong>Reports</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/resources/category/video/" target="">
    <div class="labels">
    <span class="title"><strong>Videos</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/resources/category/webinars/" target="">
    <div class="labels">
    <span class="title"><strong>Webinars</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/resources/category/white-paper/" target="">
    <div class="labels">
    <span class="title"><strong>White Papers</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    <a class="sublink" href="https://www.sentinelone.com/resources/" target="">Resource Center</a>
    </li>
    <li class="menu-group single cols-1">
    <div class="submenu-wrap">
    <div class="menu-label">Blog</div>
    <ul class="submenu single cols-1">
    <li class="menu-item single cols-1 ">
    <a href="/blog/category/cyber-response/" target="">
    <div class="labels">
    <span class="title"><strong>Cyber Response</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/blog/category/spotlight/" target="">
    <div class="labels">
    <span class="title"><strong>Feature Spotlight</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/blog/category/for-ciso-cio/" target="">
    <div class="labels">
    <span class="title"><strong>For CISO/CIO</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/blog/category/from-the-front-lines/" target="">
    <div class="labels">
    <span class="title"><strong>From the Front Lines</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/blog/category/identity/" target="">
    <div class="labels">
    <span class="title"><strong>Identity</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/blog/category/macos-security-sentinelone/" target="">
    <div class="labels">
    <span class="title"><strong>macOS</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/blog/" target="">
    <div class="labels">
    <span class="title"><strong>{{ site.company }} Blog</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    <a class="sublink" href="/blog/" target="">Blog</a>
    </li>
    <li class="menu-group single cols-1">
    <div class="submenu-wrap">
    <div class="menu-label">Tech Resources</div>
    <ul class="submenu single cols-1">
    <li class="menu-item single cols-1 ">
    <a href="/cybersecurity-101/" target="">
    <div class="labels">
    <span class="title"><strong>Cybersecurity 101</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/labs/" target="">
    <div class="labels">
    <span class="title"><strong>SentinelLABS</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item single cols-1 ">
    <a href="/anthology/" target="">
    <div class="labels">
    <span class="title"><strong>Ransomware Anthology</strong></span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="hover-underlay"></div>
    </li>
    <li class="menu-root-item  ">
    <a href="/company/" target="">About</a>
    <div class="mega">
    <div class="container">
    <ul class="menu-groups">
    <li class="menu-group twoline cols-3">
    <div class="submenu-wrap">
    <div class="menu-label">About {{ site.company }}</div>
    <ul class="submenu twoline cols-3">
    <li class="menu-item twoline cols-3 ">
    <a href="/company/" target="">
    <div class="labels">
    <span class="title"><strong>About {{ site.company }}</strong></span>
    <span class="subtitle">The Industry Leader in Cybersecurity</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="https://investors.sentinelone.com/" target="">
    <div class="labels">
    <span class="title"><strong>Investor Relations</strong></span>
    <span class="subtitle">Financial Information & Events</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/labs/" target="">
    <div class="labels">
    <span class="title"><strong>SentinelLABS</strong></span>
    <span class="subtitle">Threat Research for <br>the Modern Threat Hunter</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/careers/" target="">
    <div class="labels">
    <span class="title"><strong>Careers</strong></span>
    <span class="subtitle">The Latest Job Opportunities</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/press/" target="">
    <div class="labels">
    <span class="title"><strong>Press</strong></span>
    <span class="subtitle">Company Announcements</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/blog/" target="">
    <div class="labels">
    <span class="title"><strong>Blog</strong></span>
    <span class="subtitle">The Latest Cybersecurity Threats, News, & More</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/lp/f1-racing/" target="">
    <div class="labels">
    <span class="title"><strong>F1 Racing</strong></span>
    <span class="subtitle">{{ site.company }} & <br>Aston Martin F1 Team</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/faq/" target="">
    <div class="labels">
    <span class="title"><strong>FAQ</strong></span>
    <span class="subtitle">Get Answers to Our Most Frequently Asked Questions</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="https://www.dataset.com/" target="">
    <div class="labels">
    <span class="title"><strong>DataSet</strong></span>
    <span class="subtitle">The Live Data Platform</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/s-foundation/" target="">
    <div class="labels">
    <span class="title"><strong>S Foundation</strong></span>
    <span class="subtitle">Securing a Safer Future for All</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/lp/s-ventures/" target="">
    <div class="labels">
    <span class="title"><strong>S Ventures</strong></span>
    <span class="subtitle">Investing in the Next Generation </br>of Security and Data</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    <li class="menu-item twoline cols-3 ">
    <a href="/brand/" target="">
    <div class="labels">
    <span class="title"><strong>Brand</strong></span>
    <span class="subtitle">{{ site.company }} Brand Guidelines</span>
    </div>
    <div class="bg"></div>
    </a>
    </li>
    </ul>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="hover-underlay"></div>
    </li>