<div class="footer-wrap">
<footer class="copyright" style="background-color: #ecf1f8 !important">
    <div class="container-wide">
    <div class="hline"></div>
    <div class="links">
    <div class="copy">
    ©<span id="year">2023</span> Emersa, All Rights Reserved. </div>
</div>
    <img src="/media/footer-logo1.svg">
    <div class="icons">
    <a href="https://twitter.com/emersaofficial" rel="noopener noreferrer" target="_blank">
    <img src="/media/social-twitter-white.svg">
    </a><a href="https://www.youtube.com/@akashagraphiclibrary676" rel="noopener noreferrer" target="_blank">
    <img src="/media/social-youtube-white.svg">
    </a><a href="https://discord.gg/emersa" rel="noopener noreferrer" target="_blank">
    <img src="/media/icons8-discord.svg">
    </a>
    </div>
    </div>
    </footer>
    </div>