<footer class="copyright">
    <div class="container-wide">
    <div class="hline"></div>
    <div class="links">
    <div class="copy">
    ©<span id="year"></span> Emersa, All Rights Reserved. </div>
</div>
    <img src="/media/footer-logo1.svg" />
    <div class="icons">
    {% for socialicon in site.data.socialicons %}<a href="{{ socialicon.link }}" rel="noopener noreferrer" target="_blank">
    <img src="{{ socialicon.icon }}" />
    </a>{% endfor %}
    </div>
    </div>
    </footer>