<footer class="footer">
    <div class="container-wide">
    <div class="links">
    <div class="site-nav-holder">
        <div class="column">
            <strong class="opener-footer">Company</strong>
            <ul class="slide">
                <li><a href="/customer-page/">Our Customers</a></li>
                <li><a href="/why-sentinelone/">Why {{ site.company }}</a></li>
                <li><a href="/platform/">Platform</a></li>
                <li><a href="/company/">About</a></li>
                <li><a href="/partners/partner-overview/">Partners</a></li>
                <li><a href="/support/">Support</a></li>
                <li><a href="/careers/">Careers</a></li>
                <li><a href="/legal/">Legal &#038; Compliance</a></li>
                <li><a href="/security-compliance/">Security & Compliance</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                <li><a href="https://investors.sentinelone.com/">Investor Relations</a></li>
            </ul>
        </div>
        <div class="column">
            <strong class="opener-footer">Resources</strong>
            <ul class="slide">
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/labs/">Labs</a></li>
                <li><a href="/lp/hackchat/">Hack Chat</a></li>
                <li><a href="/press/">Press</a></li>
                <li><a href="/news/">News</a></li>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/resources/">Resources</a></li>
                <li><a href="/anthology/">Ransomware Anthology</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="about">
    <strong>Global Headquarters</strong>
    <div class="blurb">
    <p>
    444 Castro Street
    <br />
    Suite 400
    <br />
    Mountain View, CA 94041
    </p>
    <p><a href="/cdn-cgi/l/email-protection#4f3c2e232a3c0f3c2a213b26212a2320212a612c2022"><span class="__cf_email__" data-cfemail="5625373a332516253338223f38333a3938337835393b">[email&#160;protected]</span></a></p>
    </div> </div>
    <div class="signup">
    <div class="form-holder">
    <strong class="heading">Sign Up For Our Newsletter</strong>
     <form id="mktoForm_2816"></form>
    <div style="display:none">
    Thank you! You will now receive our weekly newsletter with all recent blog posts. See you soon! </div>
    </div>
    </div>
    </footer>