<div style="margin: auto;">
	<div class="alert alert-success alert-dismissible" id="success" style="display:none;">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	</div>
	<div class="alert alert-danger alert-dismissible" id="error" style="display:none;">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	</div>
<!--	<button type="button" class="btn btn-success btn-sm" id="register">Register</button> <button type="button" class="btn btn-success btn-sm" id="login">Login</button>
--><div class="cc04c7973 c7769a816">
          
        
          
    <div class="caa93cde1 cbe6b873f">
      <div class="cc617ed97">
        
      
        <form method="POST" class="" data-form-primary="true">
          <input type="hidden" name="state" value="hKFo2SBsXzZvcmIyMmZnUEV0NzYxLXpsLVR0WGNzN1R1SHNJN6Fur3VuaXZlcnNhbC1sb2dpbqN0aWTZIFV4STA1cTFXX3ZmRTlkUnVrRTF5ZzJHRFIwZ2xOakdxo2NpZNkgVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEc">
        
          
        
          <div class="caa93cde1 cbe6b873f">
            <div class="cc617ed97">
              
            
              
                <div class="input-wrapper _input-wrapper">
                  <div class="ca3fd6148 cc917791e text cffdf6ed3 c22285f6b" data-action-text="" data-alternate-action-text="">
                    <label class="ca52889fd no-js c3ddacae7 c37633cdc" for="username">
                      Email address
                    </label>
                  
                    <input class="input c10744244 cf50dd0ab" inputmode="email" name="username" id="username" type="text" value="" required="" autocomplete="username" autocapitalize="none" spellcheck="false" autofocus="">
                  
                    <div class="ca52889fd js-required c3ddacae7 c37633cdc" data-dynamic-label-for="username" aria-hidden="true">
                      Email address
                    </div>
                  </div>
                
                  
                </div>
              
            
              
            </div>
          </div>
        
          
        
          <input class="hide" type="password" autocomplete="off" tabindex="-1" aria-hidden="true">
        
          <input type="hidden" id="js-available" name="js-available" value="true">
        
          <input type="hidden" id="webauthn-available" name="webauthn-available" value="true">
        
          <input type="hidden" id="is-brave" name="is-brave" value="false">
        
          <input type="hidden" id="webauthn-platform-available" name="webauthn-platform-available" value="false">
        
          <div class="c22fea258">
            
              <button type="submit" name="action" value="default" class="cf1ef5a0b cd6a2dc65 c9f67a967 cd5d5f1f0 _button-login-id" data-action-button-primary="true">Continue</button>
            
          </div>
        </form>
      </div>
    </div>
  

  
    <div class="ulp-alternate-action  _alternate-action __s16nu9">
      <p class="c74028152 c8d445162 c3ffb5857">Don't have an account?
        <a class="cccd81a90 cce50d0e0" href="/u/signup/identifier?state=hKFo2SBsXzZvcmIyMmZnUEV0NzYxLXpsLVR0WGNzN1R1SHNJN6Fur3VuaXZlcnNhbC1sb2dpbqN0aWTZIFV4STA1cTFXX3ZmRTlkUnVrRTF5ZzJHRFIwZ2xOakdxo2NpZNkgVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEc" aria-label="">Sign up</a>
      </p>
    </div>
  

  
    <div class="ca139301f cbd1532d7">
      <span>Or</span>
    </div>
  

  

  
    
  
    <div class="ce8e5451f ca40354ec">
      
        <form method="post" data-provider="windowslive" class="c16668c3a c9dd0addd cc98c2e7e" data-form-secondary="true">
          <input type="hidden" name="state" value="hKFo2SBsXzZvcmIyMmZnUEV0NzYxLXpsLVR0WGNzN1R1SHNJN6Fur3VuaXZlcnNhbC1sb2dpbqN0aWTZIFV4STA1cTFXX3ZmRTlkUnVrRTF5ZzJHRFIwZ2xOakdxo2NpZNkgVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEc">
        
          <input type="hidden" name="connection" value="windowslive">
        
       <!--   <button type="submit" class="c83859ab9 c6080078a c14d08b3a" data-provider="windowslive" data-action-button-secondary="true">
            
              <span class="c9ea325b9 ccc91ec88" data-provider="windowslive"></span>
            
          
            <span class="c2c404ecd">Continue with Microsoft Account</span>
          </button>-->
        </form>
      
        <form method="post" data-provider="google" class="c16668c3a c9dd0addd cce432dbd" data-form-secondary="true">
          <input type="hidden" name="state" value="hKFo2SBsXzZvcmIyMmZnUEV0NzYxLXpsLVR0WGNzN1R1SHNJN6Fur3VuaXZlcnNhbC1sb2dpbqN0aWTZIFV4STA1cTFXX3ZmRTlkUnVrRTF5ZzJHRFIwZ2xOakdxo2NpZNkgVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEc">
        
          <input type="hidden" name="connection" value="google-oauth2">
        
        <!--  <button type="submit" class="c83859ab9 c6080078a ce510e60e" data-provider="google" data-action-button-secondary="true">
            
              <span class="c9ea325b9 ccc91ec88" data-provider="google"></span>
            
          
            <span class="c2c404ecd">Continue with Google</span>
          </button>-->
        </form>
      
        <form method="post" data-provider="apple" class="c16668c3a c9dd0addd c867857ad" data-form-secondary="true">
          <input type="hidden" name="state" value="hKFo2SBsXzZvcmIyMmZnUEV0NzYxLXpsLVR0WGNzN1R1SHNJN6Fur3VuaXZlcnNhbC1sb2dpbqN0aWTZIFV4STA1cTFXX3ZmRTlkUnVrRTF5ZzJHRFIwZ2xOakdxo2NpZNkgVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEc">
        
          <input type="hidden" name="connection" value="apple">
        
         <!-- <button type="submit" class="c83859ab9 c6080078a c1245e090" data-provider="apple" data-action-button-secondary="true">
            
              <span class="c9ea325b9 ccc91ec88" data-provider="apple"></span>
            
          
            <span class="c2c404ecd">Continue with Apple</span>
          </button>-->
        </form>
      
    </div>
  
</div>
		<div id="login_social" class="center" style="display: table;width: 100%;">
            <div id="social-test" style="display: table-cell; vertical-align: middle; text-align: center; font-size: 30px;">
            <ul class="social" style="padding-left: 0px;">
              <li style="display: inline-block;"><a onclick="trySampleRequest();" href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
              <li style="display: inline-block;"><a onclick="twittertrySampleRequest();" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li style="display: inline-block;"><a onclick="emailSampleRequest();" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
              <li style="display: inline-block;"><a onclick="linkedinSampleRequest();" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li style="display: inline-block;"><a onclick="githubSampleRequest();" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li style="display: inline-block;"><a onclick="instatrySampleRequest();" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li style="display: inline-block;"><a onclick="discordtrySampleRequest();" href="#"><i class="fa-brands fa-discord" aria-hidden="true"></i></a></li>
              <li style="display: inline-block;"><a onclick="facebooktrySampleRequest();" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li style="display: inline-block;"><a onclick="web3trySampleRequest();" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              </ul>
          </div>
          </div>

	<form id="login_form" name="form1" method="post" style="display:none;">
		
		<div class="form-group">
			<input type="text" class="form-control" id="username1" placeholder="username" name="username"><br />
            <label for="pwd">Username:</label>
        </div>
		<div class="form-group">
			<input type="password" class="form-control" id="password1" placeholder="Password" name="password"><br />
            <label for="pwd">Password:</label>
        </div>
		<input type="button" name="save" class="btn btn-primary" value="Login" id="butlogin">
		<p id="messagebox" class="message box">
			Reply from Server will be here
		  </p>
	</form>
	
</div>

<script src="/js/googlelogin.js"></script>