<div style="margin: auto;">
	<div class="alert alert-success alert-dismissible" id="success" style="display:none;">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	</div>
	<div class="alert alert-danger alert-dismissible" id="error" style="display:none;">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	</div>
	<button type="button" class="btn btn-success btn-sm" id="register">Register</button> <button type="button" class="btn btn-success btn-sm" id="login">Login</button>
	
	<form id="register_form" name="form1" class="mktoForm mktoHasWidth mktoLayoutLeft bf_form_init" method="post">
		<div class="form-group">
			
			<input type="text" class="form-control" id="name" placeholder="Name" name="name"><br />
            <label for="email">Name:</label>
		</div>
		<div class="form-group">
			<input type="email" class="form-control" id="email" placeholder="Email" name="email"><br />
            <label for="pwd">Email:</label>
        </div>
		<div class="form-group">
			<input type="text" class="form-control" id="phone" placeholder="Phone" name="phone"><br />
			<label for="pwd">Phone:</label>
        </div>
		<div class="form-group" >
			<select name="city" id="city" class="form-control">
				{% include countryselect.html %}
			</select><br />
            <label for="pwd">Country:</label>
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="password" placeholder="Password" name="password"><br />
            <label for="pwd">Password:</label>
        </div>
		<input type="button" name="save" class="btn btn-primary" value="Register" id="butsave">
	</form>
	<form id="login_form" name="form1" method="post" style="display:none;">
		
		<div class="form-group">
			<input type="email" class="form-control" id="email_log" placeholder="Email" name="email"><br />
            <label for="pwd">Email:</label>
        </div>
		<div class="form-group">
			<input type="password" class="form-control" id="password_log" placeholder="Password" name="password"><br />
            <label for="pwd">Password:</label>
        </div>
		<input type="button" name="save" class="btn btn-primary" value="Login" id="butlogin">
	</form>
</div>

<script>
$(document).ready(function() {
	$('#login').on('click', function() {
		$("#login_form").show();
		$("#register_form").hide();
	});
	$('#register').on('click', function() {
		$("#register_form").show();
		$("#login_form").hide();
	});
	$('#butsave').on('click', function() {
		$("#butsave").attr("disabled", "disabled");
		var name = $('#name').val();
		var email = $('#email').val();
		var phone = $('#phone').val();
		var city = $('#city').val();
		var password = $('#password').val();
		if(name!="" && email!="" && phone!="" && password!="" ){
			$.ajax({
				url: "https://membershipapi.onrender.com/api/auth/signin",
				type: "POST",
				data: {
					type: 1,
					name: name,
					email: email,
					phone: phone,
					city: city,
					password: password						
				},
				cache: false,
				success: function(dataResult){
					var dataResult = JSON.parse(dataResult);
					if(dataResult.statusCode==200){
						$("#butsave").removeAttr("disabled");
						$('#register_form').find('input:text').val('');
						$("#success").show();
						$('#success').html('Registration successful !'); 						
					}
					else if(dataResult.statusCode==201){
						$("#error").show();
						$('#error').html('Email ID already exists !');
					}
					
				}
			});
		}
		else{
			alert('Please fill all the field !');
		}
	});
	$('#butlogin').on('click', function() {
		var email = $('#email_log').val();
		var password = $('#password_log').val();
		if(email!="" && password!="" ){
			$.ajax({
				url: "https://membershipapi.onrender.com/api/auth/signin",
				type: "POST",
				data: {
					type:2,
					email: email,
					password: password						
				},
				cache: false,
				success: function(dataResult){
					var dataResult = JSON.parse(dataResult);
					if(dataResult.statusCode==200){
						location.href = "welcome.php";						
					}
					else if(dataResult.statusCode==201){
						$("#error").show();
						$('#error').html('Invalid EmailId or Password !');
					}
					
				}
			});
		}
		else{
			alert('Please fill all the field !');
		}
	});
});
</script>