<div id="global-media-viewer">
    <div class="underlay"></div>
    <div class="display-wrap">
    <div class="display">
    <div class="modalbar">
    <div class="title"></div>
    <div class="close">
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 18"><path d="m4.243 13.243 8.485-8.486M12.728 13.243 4.243 4.757" stroke="currentColor" /></svg>
    </div>
    </div>
    <video controls><source src="" type="video/mp4"></video>
    <div class="image-renderer"></div>
    </div>
    </div>
    </div>