<div class="gpt3__navbar">
    <div class="Toastify"></div>
    <div class="gpt3__navbar-links">
    <a aria-current="page" class="active" href="/"> 
    <div class="gpt3__navbar-links_logo">
    <img src="/media/logo1.png" class="logo">
    </div>
    </a>
    <div class="gpt3__navbar-links_container">
    <p><a aria-current="page" class="active" href="/">Home</a></p>
    <p><a href="#wgpt3">Why Emersa?</a></p>
    <p><a target="_blank" rel="noreferrer" href="https://discord.gg/aeeHKD6AR3">
    <p id="bt">Join discord</p></a></p>
    <p><a class="bg-transparent border-0" id="bt" href="/mint">Minty</a></p>
    <p><a href="https://www.keepandshare.com/doc6/38222/akasha-original-white-paper-1-pdf-129k?da=y" target="_blank" rel="noreferrer">White Paper</a></p>
    <p><a href="#team">Team</a></p>
    <p><a href="/blog">Blog</a></p>
    </div>
    </div>
    <div class="gpt3__navbar-sign">
      <section class="login-section">
        <button style="background-color: #28a745!important;" class="login-btn">Connect</button>
      </section>
    
      <!-- DASHBOARD SECTION -->
      <section class="dashboard-section">
        <button class="logout-btn">🔐 Log out</button>
      </section>
    <!--<button type="button" class="bg-success">Connected</button>-->
    &nbsp;<button type="button" class="bg-info ml-2">No Download  Available</button>
    </div>
    <div class="gpt3__navbar-menu">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" color="#fff" height="27" width="27" xmlns="http://www.w3.org/2000/svg" style="color: rgb(255, 255, 255);"><g>
    <path fill="none" d="M0 0h24v24H0z"></path>
    <path d="M3 4h18v2H3V4zm6 7h12v2H9v-2zm-6 7h18v2H3v-2z"></path></g>
    </svg>
    </div>
    <div class="modal fade" id="exampleModalmerchf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-wallet modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
    <h3 class="modal-title text-white text-center text-uppercase w-100" id="exampleModalLabel"> Wallet</h3>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
    <img src="assets/errorSign.svg" alt="">
    </button>
    </div>
    <div class="modal-body p-5 text-center">
    <button class="w-100 " type="button">
    <div class="row pb-2 pt-1">
    <div class="outerdivs-meta">
    <div class="col-12 text-end">
    <img src="/MetaMask_Fox.png" alt="metamasklogo" class="img-fluid">
    </div>
    <div class="col-12 my-auto p-0 text-start">
    <p>Connected</p>
    </div>
    </div>
    </div>
    </button>
    <button class="w-100 mt-4 " type="button">
    <div class="row pb-2 pt-1">
    <div class="outerdivs-meta">
    <div class="col-12 text-end">
    <img src="/walletconnect.png" alt="metamasklogo" class="img-fluid">
    </div>
    <div class="col-12 my-auto p-0 text-start"><p>Disconnect Connect</p></div>
    </div>
    </div>
    </button>
    </div>
    
    </div>
    </div>
    </div>
    </div>