
<!--
<script type="text/plain" class="optanon-category-C0004">
    _linkedin_partner_id = "2225260";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
   
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2225260&fmt=gif" />
    </noscript>
    -->
    <script>
        jQuery( document ).ready( function() {
            jQuery( 'pre' ).each( function ( i, block ) {
                hljs.highlightBlock( block );
            } );
        } );
    </script>
    <script type='text/javascript' src='/js/footer.min.js?ver=1678401210' id='carbine-script-footer-js'></script>
    
 