<script type="text/javascript">

    const image2 = `<img src="/media/d1.jpg" class="rounded-circle user_img_msg">`;
        const image1 = `{% include image2.html %}`;

    document.querySelector("#send").addEventListener("click", async () => {
      let xhr = new XMLHttpRequest();
      var userMessage = document.querySelector("#userInput").value
      let userHtml = '<div class="d-flex justify-content-end mb-4">'+'<div class="msg_cotainer_send">'+userMessage+'</div>'+image1+'</div>'
      document.querySelector('#body').innerHTML+= userHtml;
      xhr.open(`GET`, `https://chatapi-vd80.onrender.com/test123/${userMessage}`);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send(`messageValue=${userMessage}`);
      xhr.onload = function () {
        var obj = JSON.parse(this.responseText);
        var obj1q = JSON.stringify(this.responseText);
          let botHtml = '<div class="d-flex justify-content-start mb-4">'+'<div class="img_cont_msg">'+image2+'</div>'+'<div class="msg_cotainer">'+obj.traits.text[0].value+'</div>'+'</div>'
          document.querySelector('#body').innerHTML+= botHtml;
          document.getElementById("audio1").src = `https://nodetts.onrender.com/?text=${obj.traits.text[0].value}`;
          var y = document.getElementById("myAudio"); 
          y.play(); 
          console.log(renderer.render( scene, camera ));
      }
    })
    
</script>