<div id="sentinelone-is-the-first-and-only-xdr-platform-delivering-identity-and-deception" class="section-wrap  block-8">
    <section id="page_head_v2_3c0873a635695960a6653dcfd3a084b2" class="page_head_v2 3c0873a635695960a6653dcfd3a084b2 light s7030 none     " style="background-color:;">
    <div class="background desktop lazy" style="background-position:50% 50%;background-color:;background-size:cover;" data-bg-multi="url( /media/Surface_Identity_CTA@2x.png )"></div>
    <div class="background mobile lazy" style="background-position:50% 50%;background-color:;background-size:cover;" data-bg-multi="url( /media/Surface_Identity_CTA@2x.png )"></div>
    <div class="underlay video"></div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <div class="heading">
    <h1 class="title bold h2 wow fadeInDown">SentinelOne Is the First and Only </br>XDR Platform Delivering Identity and Deception</h1>
    <h2 class="title thin h3 wow fadeInUp" data-wow-delay=".3s">See Why We Debuted at the </br>Top of the MITRE Engenuity </br>Deception ATT&CK Evaluation</h2>
    </div>
       <div class="cta-wrap wow fadeInRight">
    <a class="cta purple" href="https://www.sentinelone.com/lp/mitre-deception/" target="">
    <span>Learn More</span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>