<div id="secure-diverse-workloads" class="section-wrap  block-8">
    <section id="side_by_side_a781a0c8efc6dad22455d6fc33391902" class="side_by_side a781a0c8efc6dad22455d6fc33391902 default " style="background-color: #ffffff;">
    <div class="graphic lazy" style="background-color: #ffffff; background-size:cover;" data-bg-multi="">
    <video class="lazy" autoplay muted loop style="object-fit:cover;">
    <source data-src="/media/video2.mp4#t=18" type="video/mp4">
    </video>
    </div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <div class="heading">
    <div class="title-logo" style="max-width: 223px;">
    <img class="lazy wow fadeInDown" data-src="/media/create.svg" />
    </div>
    <h2 class="wow fadeInUp" data-wow-delay=".3s"></h2>
    </div>
    <div class="blurb wp-editor-content wow fadeInUp" data-wow-delay=".5s">
    <p>Create your own personalized world, a world you feel the most comfortable and proud at and share it with others.</p>
    </div>
    <div class="cta boxed_right_arrow purple wow fadeInRight">
    <a href="/media/video2.mp4?lb-mode=overlay#" target="_blank"><span>Watch Full Video</span></a>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>