<a name="whitepapers"></a>
<div id="learn-more-about-singularity-xdr" class="section-wrap  block-6">
    <div class="blackout"></div>
    <section id="page_head_2d6a57f7920f543ae866b2064a592494" class="page_head lazy 2d6a57f7920f543ae866b2064a592494 light big_sub do_nothing  has-image" style="background-position:50% 50%;background-color:#2e21f3;background-size:cover;" data-bg-multi="linear-gradient( 92deg, rgba(46,33,243,1) 10%, rgba(107,10,234,1) 50% )">
    <div class="underlay">
    </div>
    <div class="container">
    <div class="inner ">
    <div class="graphic wow fadeIn">
    <img src="/media/pdf1.png" />
    </div>
    <div class="context">
    <div class="heading">
    <h1 class="wow fadeInDown">Learn More About Emersa</h1>
    <h2 class="wow fadeInUp" data-wow-delay=".3s">See What's Possible With Our Platform</h2>
    </div>
    <div class="hrule wow fadeInLeft"></div>
    <div class="blurb wow fadeIn " data-wow-delay=".5s">
    </div>
    <div class="cta boxed_right_arrow white wow fadeInRight">
    <a class="" href="/media/akasha_original_white_paper__1_.pdf?lb-mode=overlay#" target="">
    <span>Download the Solution Brief</span>
    <img src="/media/cta_left_left_purple.svg" /> </a>
    </div>
    </div>
    </div>
    </div>
    </section>
    <script>
    ( function ( $, window, document, undefined ) {
    
        $( "#page_head_2d6a57f7920f543ae866b2064a592494 .cta a" ).click( function ( e ) {
    
            if ( $( this ).attr( 'href' ) == '#' ) {
                e.preventDefault();
                e.stopPropagation();
                var elm = $( 'section' ).eq( 1 );
                window.scroll( {
                    behavior: 'smooth',
                    left:     0,
                    top:      elm.get()[0].offsetTop
                } );
                return false;
            }
    
        });
    
    } )( jQuery, window, document );
    </script>
    </div>