<div id="singularity-for-identity" class="section-wrap header block-0">
    <section id="page_head_v2_69bef0599e2c65656f411301617025f9" class="page_head_v2 69bef0599e2c65656f411301617025f9 light s5050 none     " style="background-color:#0b0c1b;">
    <div class="background desktop lazy" style="background-position:50% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/Surfaces_Identity_LP_Hero@2x.png )"></div>
    <div class="background mobile lazy" style="background-position:50% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/Surfaces_Identity_LP_Hero@2x.png )"></div>
    <div class="underlay video"></div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <div class="heading">
    <h1 class="title bold h1 wow fadeInDown">Emersa<!--<sup>™</sup> --><br />
    NFT Collection</h1>
    </div>
    <div class="blurb normal regular wow fadeIn" data-wow-delay=".5s">
    Proactive and real-time defense for your identity infrastructure attack surface. Reduce identity risk, <br />
    detect & respond to in-progress attacks, and deceive <br />
    in-network adversaries with holistic solutions for <br />
    Active Directory and Azure AD. </div>
    </div>
    </div>
    </div>
    </section>
    </div>