<div id="unify-and-extend-sentinelone-across-the-entire-enterprise-with-singularityxdr-apps" class="section-wrap  block-3">
    <section id="side_by_side_d9b1dcd06ab3f80ca443f4233a579860" class="side_by_side d9b1dcd06ab3f80ca443f4233a579860 default " style="background-color: #0b0c1b;">
    <div class="graphic lazy" style="background-color: #0b0c1b; background-size:contain;" data-bg-multi="url( /media/logo_collage-936x1024-1.png )">
    </div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <div class="heading">
    <h1 class="wow fadeInDown">Unify and Extend {{ site.company }} Across the Entire Enterprise with Singularity</br>XDR Apps</h1>
    <h2 class="wow fadeInUp" data-wow-delay=".3s"></h2>
    </div>
    <div class="blurb wp-editor-content wow fadeInUp" data-wow-delay=".5s">
    </div>
    <div class="cta boxed_right_arrow purple wow fadeInRight">
    <a class="" href="https://assets.sentinelone.com/singularity-xdr/xdr-one-click?lb-mode=overlay" target="">
    <span>Read Solution Brief</span>
    <img src="/media/cta_left_left_white.svg" /> </a>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>