<div id="detect-respond-with-singularity-identity" class="section-wrap  block-5">
    <section id="page_head_v2_58ef1fb68af36c4b34cafec8a3079d4d" class="page_head_v2 58ef1fb68af36c4b34cafec8a3079d4d light s5050 add_top     " style="background-color:#0b0c1b;">
    <div class="background desktop lazy" style="background-position:100% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/13a.png )"></div>
    <div class="background mobile lazy" style="background-position:100% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/13a.png )"></div>
    <div class="underlay video"></div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <div class="heading">
    <h1 class="title bold h2 wow fadeInDown">ACC1 Bronze</h1>
    </div>
    <div class="blurb normal regular wow fadeIn" data-wow-delay=".5s">
    <ul>
    <li>Commercial 60x60 digital certificate</li>
    </ul>
    </div>
    <div>
        <input class="inputnumber" type="number" placeholder="Enter no of token" value="">
        </div>
    <div class="cta-wrap wow fadeInRight">
    <a id="button1" class="cta purple" href="/platform/singularity-identity/" target="">
    <span>Learn More</span>
    </a>
    </div>
    </div> 
    </div>
    </div>
    </section>
    </div>