<div id="related-resources" class="section-wrap  block-12">
    <section id="xup_blocks_0700ad03d28daa305c8f776614fe41d7" class="xup_blocks lazy 0700ad03d28daa305c8f776614fe41d7 dark default cta-text-links img-background vgap-vertical-med plex card shadow cols-4 cols-tw-3 cols-tt-2 cols-m-1" style="background-color:#ffffff;" data-bg-multi="">
    <div class="underlay">
    </div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <h2 class="wow fadeIn">Related Resources</h2>
    </div>
    <div class="swiper-object_bork">
    <div class="swiper-container_bork">
    <div class="entries swiper-wrapper_bork">
    <div class="entry swiper-slide_bork">
    <div class="entry-inner lazy wow fadeInUp" data-wow-delay="0s" data-bg-multi="url( /media/xupbg4.jpg )">
    <h6>Data sheet</h6>
    <div class="lower">
    <h3>Singularity XDR</h3>
    <div class="link">
    <a class="" href="https://assets.sentinelone.com/infog/singularity-xdr?lb-mode=overlay" target="">
    <span>Learn More</span>
    <img src="/media/cta_left_left_white.svg" /> </a>
    </div>
    </div>
    <a class="link-cover" href="https://assets.sentinelone.com/infog/singularity-xdr?lb-mode=overlay" target=""></a>
    </div>
    </div>
    <div class="entry swiper-slide_bork">
    <div class="entry-inner lazy wow fadeInUp" data-wow-delay="0.1s" data-bg-multi="url( /media/xupbg3.jpg )">
    <h6>Data sheet</h6>
    <div class="lower">
    <h3>Singularity XDR Apps</h3>
    <div class="link">
    <a class="" href="https://s1.ai/xdr-1-click?lb-mode=overlay" target="">
    <span>Learn More</span>
    <img src="/media/cta_left_left_white.svg" /> </a>
    </div>
    </div>
    <a class="link-cover" href="https://s1.ai/xdr-1-click?lb-mode=overlay" target=""></a>
    </div>
    </div>
    <div class="entry swiper-slide_bork">
    <div class="entry-inner lazy wow fadeInUp" data-wow-delay="0.2s" data-bg-multi="url( /media/xupbg1.jpg )">
    <h6>Data sheet</h6>
    <div class="lower">
    <h3>{{ site.company }} Ranger</h3>
    <div class="link">
    <a class="" href="https://s1.ai/ranger?lb-mode=overlay" target="">
    <span>Learn More</span>
    <img src="/media/cta_left_left_white.svg" /> </a>
    </div>
    </div>
    <a class="link-cover" href="https://s1.ai/ranger?lb-mode=overlay" target=""></a>
    </div>
    </div>
    <div class="entry swiper-slide_bork">
    <div class="entry-inner lazy wow fadeInUp" data-wow-delay="0.3s" data-bg-multi="url( /media/xupbg2.jpg )">
    <h6>Data sheet</h6>
    <div class="lower">
    <h3>{{ site.company }} ActiveEDR</h3>
    <div class="link">
    <a class="" href="https://s1.ai/activeedrpf?lb-mode=overlay" target="">
    <span>Learn More</span>
    <img src="/media/cta_left_left_white.svg" /> </a>
    </div>
    </div>
    <a class="link-cover" href="https://s1.ai/activeedrpf?lb-mode=overlay" target=""></a>
    </div>
    </div>
    </div>
    </div>
    <div class="carbine-swiper-button-prev_bork"></div>
    <div class="carbine-swiper-button-next_bork"></div>
    </div>
    </div>
    </div>
    </section>
    <script>
    ( function ( $, window, document, undefined ) {
    
        
        if( $( '#trusted-by-thousands-worldwide .entry' ).length > 1 ) {
            var arr = [];
    
            $( '#trusted-by-thousands-worldwide .entry .upper .img-wrap' ).each( function() {
                var height = $( this ).height();
                arr.push( height );
            });
    
            var largest = Math.max(...arr);
    
            $( '#trusted-by-thousands-worldwide .entry .upper .img-wrap' ).css( 'height', largest );
    
            $( '#trusted-by-thousands-worldwide .entry .upper h3' ).each( function() {
                $( this ).html( $( this ).html().replace( '"', '' ).replace( '“', '' ).replace( '”', '' ) );
            });
        }
    
    } )( jQuery, window, document );
    </script>
    </div>