<div id="mobile-threat-defense" class="section-wrap  block-10">
    <section id="side_by_side_3cdaf063fd288b7ac3a68d4eaa6bcabf" class="side_by_side 3cdaf063fd288b7ac3a68d4eaa6bcabf default " style="background-color: #ffffff;">
    <div class="graphic lazy" style="background-color: #ffffff; background-size:contain;" data-bg-multi="url( /media/defence1.png )">
    </div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <div class="heading">
    <div class="title-logo" style="max-width: 236.5px;">
    <img class="lazy wow fadeInDown" data-src="/media/trade.svg" />
    </div>
    <h2 class="wow fadeInUp" data-wow-delay=".3s"></h2>
    </div>
    <div class="blurb wp-editor-content wow fadeInUp" data-wow-delay=".5s">
    <p>Buy and sell digital items, enjoy the experience while making money on the go.<br />Customise the showcase of your digital items with the ultra privacy blockchain offers.</p>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>