<div id="purpose-built-to-prevent-tomorrows-threats" class="section-wrap block-9999">
    <div class="blackout"></div>
    <section id="page_footer_c47d423c5e230d6dd3e72e5bb33f4bdb" class="light s5050 none merge-titles" style="background-color:#0b0c1b;">
    <div class="background desktop lazy" style="background-position:50% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/Footer_BG@2x.jpg )"></div>
    <div class="background mobile lazy" style="background-position:50% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/Footer_BG@2x.jpg )"></div>
    <div class="underlay video"></div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <div class="heading">
    <h1 class="title bold h2 wow fadeInDown">The possibilities are beyond your</h1>
    <h2 class="title thin h2 wow fadeInUp" data-wow-delay=".3s">imagination</h2>
    </div>
    <div class="blurb normal regular wow fadeIn" data-wow-delay=".5s">
    Emersa offers technologies helping people connect, find communities, and grow businesses. Share immersive experiences with other people and do things together you couldn’t do in the physical world. It’s the next evolution in a long line of social technologies. Be part of change.</div>
    <div class="cta-wrap wow fadeInRight">
    <a class="cta white" href="{{ site.downloadlink }}" target="">
    <span>Get a Demo</span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>