<div id="integrate-with-your-full-identity-stack" class="section-wrap  block-7">
    <section id="page_head_v2_bdd135b6fb08bcb57ac973cda10c1189" class="page_head_v2 bdd135b6fb08bcb57ac973cda10c1189 light s5050 add_top     " style="background-color:#0b0c1b;">
    <div class="background desktop lazy" style="background-position:100% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/Surface_Identity_Integrate_with_Your_Full_Identity_Stack@2x.png )"></div>
    <div class="background mobile lazy" style="background-position:100% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/Surface_Identity_Integrate_with_Your_Full_Identity_Stack@2x-1.png )"></div>
    <div class="underlay video"></div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <div class="heading">
    <h1 class="title bold h2 wow fadeInDown">Integrate with Your </br>Full Identity Stack</h1>
    </div>
    <div class="blurb normal regular wow fadeIn" data-wow-delay=".5s">
    <ul><li>Integrate data and SOAR actions with your existing identity governance solutions.</li><li>Bring ITDR, IAM, and PAM data in one place. Singularity XDR can ingest all security and logging data from any product resulting in cross-platform visibility and analytics in one UI.</li><li>Enables integrations and cross-platform security actions within one UI with Singularity Marketplace.</li><li>Gain one view across all Identity solutions with Skylight. Enrich your adversary intelligence and take more informed action on identity-based threats.</li></ul> </div>
    <div>
        <input type="number" placeholder="Enter no of token" value="">
        </div>
    <div class="cta-wrap wow fadeInRight">
    <a class="cta purple" href="https://assets.sentinelone.com/singularity-marketplace-briefs/singularity_marketpl?lb-mode=overlay" target="">
    <span>Read the Datasheet</span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>