<div id="backed-by-the-industry" class="section-wrap  block-7">
    <section id="xup_blocks_dca3c69f3e217b40700a6c5acfb71666" class="xup_blocks lazy dca3c69f3e217b40700a6c5acfb71666 light black appstyle cols-3 cols-tw-3 cols-tt-2 cols-m-1 cta-text-links img-default vgap-none gotham card" style="background-color:#0b0c1b;" data-bg-multi="">
    <div class="underlay">
    </div>
    <div class="container">
    <div class="inner">
    <div class="context">
    <h2 class="wow fadeIn">Backed by the Industry</h2>
    <h4 class="wow fadeInUp" data-wow-delay=".4s">Tried and Trusted by the Industry’s Leading Authorities,
    Analysts, and Associations.</h4>
    </div>
    <div class="swiper-object_bork">
    <div class="swiper-container_bork">
    <div class="entries swiper-wrapper_bork">
    <div class="entry swiper-slide_bork">
    <div class="entry-inner lazy wow fadeInUp" data-wow-delay="0s" data-bg-multi="">
    <div class="upper">
    <a class="img-wrap" href="/lp/gartnermq/" target="">
    <img class="graphic lazy SVG" data-src="/media/Gartner_Primary_Logo_WHT-1.svg" />
    </a>
     <h6>Endpoint Protection Platforms</h6>
    <h3></h3>
    <div class="blurb">
    <ul>
    <li>A Leader in the 2022 Magic Quadrant for Endpoint Protection Platforms</li>
    </ul>
    </div>
    </div>
    <div class="link">
    <a class="" href="/lp/gartnermq/" target="">
    <span>Learn More</span>
    <img src="/media/cta_left_left_white.svg" /> </a>
    </div>
    </div>
    </div>
    <div class="entry swiper-slide_bork">
    <div class="entry-inner lazy wow fadeInUp" data-wow-delay="0.1s" data-bg-multi="">
    <div class="upper">
    <a class="img-wrap" href="/lp/mitre/" target="">
    <img class="graphic lazy SVG" data-src="/media/MITRE_Engenuity_Logo_WHT-1.svg" />
    </a>
    <h6>Record Breaking ATT&CK Evaluation</h6>
    <h3></h3>
    <div class="blurb">
    <ul>
    <li aria-level="1">100% Protection. 100% Detection.</li>
    <li aria-level="1">Top Analytic Coverage 3 Years in a Row</li>
    <li aria-level="1">100% Real-time with Zero Delays</li>
    </ul>
    </div>
    </div>
    <div class="link">
    <a class="" href="/lp/mitre/" target="">
    <span>Learn More</span>
    <img src="/media/cta_left_left_white.svg" /> </a>
    </div>
    </div>
    </div>
    <div class="entry swiper-slide_bork">
    <div class="entry-inner lazy wow fadeInUp" data-wow-delay="0.2s" data-bg-multi="">
    <div class="upper">
    <a class="img-wrap" href="/singularity-platform/reviews" target="">
    <img class="graphic lazy SVG" data-src="/media/Gartner_PeerInsights_Logo_WHT.svg" />
    </a>
    <h6>96% WOULD RECOMMEND FOR EDR AND EPP</h6>
    <h3></h3>
    <div class="blurb">
    <ul>
    <li>4.8/5 Rating for Endpoint Protection Platforms and Endpoint Detection &amp; Response Platforms</li>
    </ul>
    </div>
    </div>
    <div class="link">
    <a class="" href="https://www.gartner.com/reviews/market/endpoint-protection-platforms/vendor/sentinelone/product/singularity-platform/reviews" target="">
    <span>Learn More</span>
    <img src="/media/cta_left_left_white.svg" /> </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="carbine-swiper-button-prev_bork"></div>
    <div class="carbine-swiper-button-next_bork"></div>
    </div>
    </div>
    </div>
    </section>
    <script>
    ( function ( $, window, document, undefined ) {
    
        
        if( $( '#trusted-by-thousands-worldwide .entry' ).length > 1 ) {
            var arr = [];
    
            $( '#trusted-by-thousands-worldwide .entry .upper .img-wrap' ).each( function() {
                var height = $( this ).height();
                arr.push( height );
            });
    
            var largest = Math.max(...arr);
    
            $( '#trusted-by-thousands-worldwide .entry .upper .img-wrap' ).css( 'height', largest );
    
            $( '#trusted-by-thousands-worldwide .entry .upper h3' ).each( function() {
                $( this ).html( $( this ).html().replace( '"', '' ).replace( '“', '' ).replace( '”', '' ) );
            });
        }
    
    } )( jQuery, window, document );
    </script>
    </div>