<div id="section-2" class="section-wrap  block-2">
    <section id="interactive_f0c7d017c52d5af2cb668c11f3a90765" class="interactive lazy f0c7d017c52d5af2cb668c11f3a90765 dark stacked" style="background-color:#0b0c1b;" data-bg-multi="">
    <div class="full-width" style="background-color:;">
    <div class="container-full-wide">
    <img src="/media/XDR_Ingestion_Platform_Graphic@2x1.png" id="singularity-graphic" />
    <style>
    #singularity-graphic {
    display: block;
    width: 100%;
    height:auto;
    max-width: 1800px;
    }
    </style> </div>
    </div>
    </section>
    </div>