 <div class="sidebar">
    <div class="brand-logo">
        <a class="full-logo" href="/dashboard1/index.html">
    <img src="/media/emersalogosvg3.svg" alt="" style="height: 30px;">
        </a>
     </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/dashboard1/index.html">
                    <span><i class="ri-layout-grid-fill"></i></span>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="/dashboard1/bids.html">
                    <span><i class="ri-briefcase-line"></i></span>
                    <span class="nav-text">Bids</span></a>
            </li>
            <li class="">
                <a href="/dashboard1/saved.html">
                    <span><i class="ri-heart-line"></i></span>
                    <span class="nav-text">Saved</span></a>
            </li>
            <!-- <li class="">
                <a href="/collection.html">
                    <span><i class="ri-star-line"></i></span>
                    <span class="nav-text">Collection</span></a>
            </li> -->
            <li class="">
                <a href="/dashboard1/wallet.html">
                    <span><i class="ri-wallet-line"></i></span>
                    <span class="nav-text">Wallet</span></a>
            </li>
            <!-- <li class="">
                <a href="/dashboard/profile.html">
                    <span><i class="ri-account-box-line"></i></span>
                    <span class="nav-text">Profile</span></a>
            </li> -->
            <li class="">
                <a href="/dashboard1/settings-profile.html">
                    <span><i class="ri-settings-3-line"></i></span>
                    <span class="nav-text">Settings</span></a>
            </li>
            <li class=" logout"><a href="/dashboard1/signin.html">
                    <span><i class="ri-logout-circle-line"></i></span>
                    <span class="nav-text">Signout</span>
                </a>
            </li>
        </ul>
    </div>
</div>