<script>
$(document).ready(function() {
	$('#login').on('click', function() {
		$("#login_form").show();
		$("#register_form").hide();
	});
	$('#register').on('click', function() {
		$("#register_form").show();
		$("#login_form").hide();
	});
    $('#butonwest1').on('click', function() {
        var username = $('#username1').val();
		var email = $('#email1').val();
		var password = $('#password1').val();
        if(username!="" && email!="" && password!="" ){
			

		  //  const userName = document.getElementById('name').value;
        // const url = 'https://jsonplaceholder.typicode.com/posts';
        // Add your code below this line
        let url = 'https://orca-app-2-6vedu.ondigitalocean.app/api/auth/signup';
            let req = new XMLHttpRequest();

            console.log(req);
            req.open('POST', url, true);
            req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
            req.onreadystatechange = () =>{
                if(req.readyState === 4 && req.status === 201){
                    
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                }
                if(req.status === 200){
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                    document.getElementById("messagebox").innerHTML = object.message +" Check your email you regististered for verification";
                     var sample = document.getElementById("messagebox");
                     sample.style.display = 'block';
                sample.style.color = 'Green';
				
                }if(req.status === 400){
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                var sample = document.getElementById("messagebox");
                     sample.innerHTML = object.message;
                sample.style.display = 'block';
                sample.style.color = 'red';
            } 
                if(req.status === 401){
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                var sample = document.getElementById("messagebox");
                sample.innerHTML = "Invalid username or password";
                sample.style.display = 'block';
                sample.style.color = 'red';
            }if(req.status === 404){
                var sample = document.getElementById("messagebox");
                sample.innerHTML = "Invalid username or password";
                sample.style.display = 'block';
                sample.style.color = 'red';
            }
            }
            var number = {
           username: document.getElementById('username1').value,
           email: document.getElementById('email1').value, 
           password: document.getElementById('password1').value
         }
            let body = JSON.stringify(number);
            req.send(body);
            let dude = req.responseText;
            console.log(dude);
          //  let jsonResponse = req.response;
           // document.getElementById("messagebox").innerHTML = dude.responseText;
        // Add your code above this line
			
			}
		
                        });
	$('#butsave').on('click', function() {
		//$("#butsave").attr("disabled", "disabled");
		var username = $('#username1').val();
		var email = $('#email1').val();
		//var phone = $('#phone').val();
		//var city = $('#city').val();
		var password = $('#password').val();
		if(username!="" && email!="" && password!="" ){
	
			  //  const userName = document.getElementById('name').value;
        // const url = 'https://jsonplaceholder.typicode.com/posts';
        // Add your code below this line
        let url = 'https://orca-app-2-6vedu.ondigitalocean.app/api/auth/signup';
            let req = new XMLHttpRequest();

            console.log(req);
            req.open('POST', url, true);
            req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
            req.onreadystatechange = () =>{
                if(req.readyState === 4 && req.status === 201){
                    
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                }
                if(req.status === 200){
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                    document.getElementById("messagebox1").innerHTML = object.message;
            }
            }
            var number = {
           email: document.getElementById('email1').value,
           username: document.getElementById('username1').value, 
           password: document.getElementById('password').value
         }
            let body = JSON.stringify(number);
            req.send(body);
            let dude = req.responseText;
            console.log(dude);
          //  let jsonResponse = req.response;
           // document.getElementById("messagebox").innerHTML = dude.responseText;
        // Add your code above this line

		}
		else{
			alert('Please fill all the field !');
		}
	});
	$('#butlogin').on('click', function() {
		var email = $('#email_log').val();
		var password = $('#password_log').val();
		if(email!="" && password!="" ){
			

		  //  const userName = document.getElementById('name').value;
        // const url = 'https://jsonplaceholder.typicode.com/posts';
        // Add your code below this line
        let url = 'https://orca-app-2-6vedu.ondigitalocean.app/api/auth/signin';
            let req = new XMLHttpRequest();

            console.log(req);
            req.open('POST', url, true);
            req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
            req.onreadystatechange = () =>{
                if(req.readyState === 4 && req.status === 201){
                    
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                }
                if(req.status === 200){
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                    document.getElementById("messagebox").innerHTML = object.message;
					function setCookie(cName, cValue, expDays) {
        let date = new Date();
        date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
}
setCookie('accessToken', object.accessToken, 30);
window.location.href = '/profile/'; 
            } if(req.status === 401){
                    let object = JSON.parse(req.responseText)
                    console.log(object);
                var sample = document.getElementById("messagebox");
                sample.innerHTML = "Invalid username or password";
                sample.style.display = 'block';
                sample.style.color = 'red';
            }if(req.status === 404){
                var sample = document.getElementById("messagebox");
                sample.innerHTML = "Invalid username or password";
                sample.style.display = 'block';
                sample.style.color = 'red';
            }
            }
            var number = {
           username: document.getElementById('username1').value,
          // username: document.getElementById('username').value, 
           password: document.getElementById('password1').value
         }
            let body = JSON.stringify(number);
            req.send(body);
            let dude = req.responseText;
            console.log(dude);
          //  let jsonResponse = req.response;
           // document.getElementById("messagebox").innerHTML = dude.responseText;
        // Add your code above this line
			
			}
		else{
			alert('Please fill all the field !');
		}
	});
});
</script>
