
<!doctype html>
<html lang="en-US" class="no-js">
    {% include head6a.html %}
    {% include script5a.html %}
<body style="overflow-x: hidden;" class="error404 no-sidebar site-www">
{% include header1.html %}
<div class="main   ">
<div class="section-wrap header block-0">
<section class="archive-list" style="">

<div class="infos">
    <div class="profile123">
        <div class="avatars">
            <div class="avatar_wrap">
                <img class="avatar avatar-lg" src="/media/avatar_4.png" alt="avatar">
            </div>
                
            </div>
    
<!---->

<div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>

<!---->
            <div class="row">
            <h5>@ayoub fennouni</h5>
            <div class="copy">
                <span class="color_text"> 13b9ebda0178... </span>
            </div>
            <div class="">
                <div class="btn btn-dark btn-sm null ">Follow</div>
            </div>
            <div class="share">
                <div class="icon">
                    <i class="ri-share-line"></i>
                </div>
                <div class="dropdown__popup null ">
                    <ul class="space-y-10">
                        <li><a href="https://www.facebook.com/" rel="noreferrer" target="_blank"><i class="ri-facebook-line"></i></a></li>
                        <li><a href="https://www.messenger.com/" rel="noreferrer" target="_blank"><i class="ri-messenger-line"></i></a></li>
                        <li><a href="https://whatsapp.com" target="_blank" rel="noreferrer"><i class="ri-whatsapp-line"></i></a></li>
                        <li><a href="https://youtube.com" target="_blank" rel="noreferrer"><i class="ri-youtube-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="more">
                <div class="icon"><i class="ri-more-fill"></i></div>
                <div class="dropdown__popup null ">
                    <ul class="space-y-10">
                        <li><a class="content space-x-10 d-flex" aria-describedby="popup-108" href="/profile"><i class="ri-flag-line"></i><span> Report </span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="inner">
<div class="context">
<div class="heading">
<!--<img src="/media/prrofile.png">-->
</div>
</div>
<div class="primary-wrap">
<div id="primary" class="content-area">
<div class="primary-inner">

</div>
</div>

</div>
</div>
</div>
</section>
</div>
</div>
{% include scripts2.html %}
{% include footwrap.html %}
{% include scripts3.html %}
{% include globalvideoplayer.html %}
{% include scripts1.html %}
<script src="/js/index.js"></script>
</body>
</html>
