
<!doctype html>
<html lang="en-US" class="no-js">
    {% include head5.html %}
    {% include script5a.html %}
<body class="error404 no-sidebar site-www">
{% include header1.html %}
<div class="main   ">
<div class="section-wrap header block-0">
<section class="archive-list" style="">
<div class="underlay1"></div>
<div class="infos">
    <div class="profile123">
        <div class="row flex-wrap align-items-center justify-content-between sm:space-y-50">
            <div class="col-md-auto mr-20">
                <div class="avatars d-flex space-x-20 align-items-center">
                    <div class="avatar_wrap">
                        <img class="avatar avatar-lg" src="/media/avatar_4.png" alt="avatar"></div>
                        <h5>@ayoub fennouni</h5>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="d-sm-flex flex-wrap align-items-center space-x-20 mb-20_reset d-sm-block">
                        <div class="mb-20"><div class="copy">
                            <span class="color_text"> 13b9ebda0178... </span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap align-items-center space-x-20">
                        <div class="mb-20">
                            <div class="btn btn-dark btn-sm null ">Follow</div>
                        </div>
                        <div class="mb-20">
                            <div class="share">
                                <div class="icon">
                                    <i class="ri-share-line"></i>
                                </div>
                                <div class="dropdown__popup null ">
                                    <ul class="space-y-10">
                                        <li><a href="https://www.facebook.com/" rel="noreferrer" target="_blank"><i class="ri-facebook-line"></i></a></li>
                                        <li><a href="https://www.messenger.com/" rel="noreferrer" target="_blank"><i class="ri-messenger-line"></i></a></li>
                                        <li><a href="https://whatsapp.com" target="_blank" rel="noreferrer"><i class="ri-whatsapp-line"></i></a></li>
                                        <li><a href="https://youtube.com" target="_blank" rel="noreferrer"><i class="ri-youtube-line"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mb-20">
                            <div class="more">
                                <div class="icon"><i class="ri-more-fill"></i></div>
                                <div class="dropdown__popup null ">
                                    <ul class="space-y-10">
                                        <li><a class="content space-x-10 d-flex" aria-describedby="popup-108" href="/profile"><i class="ri-flag-line"></i><span> Report </span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="inner">
<div class="context">
<div class="heading">
<!--<img src="/media/prrofile.png">-->
</div>
</div>
<div class="primary-wrap">
<div id="primary" class="content-area">
<div class="primary-inner">

</div>
</div>

</div>
</div>
</div>
</section>
</div>
</div>
{% include scripts2.html %}
{% include footwrap.html %}
{% include scripts3.html %}
{% include globalvideoplayer.html %}
{% include scripts1.html %}
<script src="/js/index.js"></script>
</body>
</html>
