<!doctype html>
<html lang="en-US" itemscope itemtype="https://schema.org/none" class="no-js">
{% include head5.html %}
{% include script8c.html %}
<body class="page-template-default page page-id-34310 page-parent no-sidebar site-www">
{% include header1.html %}
<div class="main  with-footer ">
{% include section0.html %}
{% include section1.html %}
{% include section2.html %}
{% include section5.html %}
{% include section6.html %}
{% include section8.html %}
{% include section9.html %}
{% include section10.html %}
{% include section11.html %}
{% include section13.html %}
{% include scripts2.html %}
</div>
{% include footwrap.html %}
{% include scripts3.html %}
{% include globalvideoplayer.html %}
{% include scripts1.html %}
<script src="/js/index.js"></script>
<script src="/js/recorder.js"></script>

</body>
</html>