<!DOCTYPE html>
<html>
	{% include head1.html %}
	<!--Coded With Love By Mutiullah Samim-->
	<body>
		
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
			{% include 3dwithcolomn.html %}


			{% include chatbotwithcolomn.html %}
			
			</div>
			<button type="button">Blink</button>
		</div>
		{% include script1.html %}
			{% include scriptimport.html %}
		

			{% include scriptmodule.html %}
		  	<script src="/js/recorder.js"></script>
			  <script src="/js/app.js"></script>
			  <script src="/assets/js/scripts.js"></script>
	</body>
</html>
