
<!DOCTYPE html>
<html lang="en">

{% include dashheader.html %}

<body class="@@dashboard">

<div id="preloader"><i>.</i><i>.</i><i>.</i></div>

<div id="main-wrapper" class="admin">

    {% include dashheader2.html %}
  
{% include sidebar.html %}
    <div class="content-body">
        <div class="container">
            {{ content }}
        </div>
    </div>


    
</div>





<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>






<script src="/js/chart.bundle.min.js"></script>


<script src="/js/chartjs-line-init.js"></script>




<script src="/js/chartjs-donut.js"></script>









<script src="/js/123scripts.js"></script>


</body>

</html>