<!doctype html>
<html lang="en-US" itemscope="" itemtype="https://schema.org/none" class="no-js">
    <head><meta charset="utf-8"></head>
    <body class="page-template page-template-carbine page-template-template-v2 page-template-carbinetemplate-v2-php page page-id-70338 page-child parent-pageid-70340 no-sidebar site-www">{% include head5.html %}
{% include script8a.html %}
<script src="/js/web3.min.js"></script>
{% include header1.html %}
<div class="main  with-footer ">
{% include section14.html %}
{% include section17.html %}
{% include section16.html %}
{% include section17a.html %}
<!--  include section18.html -->
<!--  include section21.html -->
<!--  include section22.html -->
<!--  include section19.html -->
{% include script.html %}
{% include section13.html %}
{% include scripts2.html %}
</div>
{% include footwrap.html %}
{% include scripts3.html %}
{% include globalvideoplayer.html %}
{% include scripts1.html %}
<script src="/js/index.js"></script>
<script src="/js/recorder.js"></script>
<script src="/js/app.js"></script>
<script src="/js/main2.js"></script>

</body></html>