
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head5.html %}
		<title>three.js webgl - additive animation - skinning</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=yes, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/AssistBot.css" type="text/css">
		<style>
			body{font-family:Arial;font-size:14px;}
			footer.copyright {padding: 0px !important;}
			.footer-wrap{height: 5px !important;}
			.utc_textbox{display:inline-block;margin-top:7px;border:1px solid silver;width:150px;height:20px;font-family:Arial;font-size:14px;padding-left:4px;padding-right:4px;}
			.utc_submitbox{display:inline-block;margin-top:7px;border:1px solid silver;height:23px;font-family:Arial;font-size:14px;}
		
			a {
				color: blue;
			}
			.control-inactive button {
				color: #888;
			}
		</style>
		<div id="container"></div>
		<div id="info">
	
	{% include header1.html %}
		</div>
	</head>

	<body>


		<!-- Import maps polyfill -->
		<!-- Remove this when import maps will be widely supported -->
		<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>

		<script type="importmap">
			{
				"imports": {
					"three": "../build/three.module.js",
					"three/addons/": "./jsm/"
				}
			}
		</script>

		<script type="module">

			import * as THREE from 'three';

			import Stats from 'three/addons/libs/stats.module.js';

			import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
			import { FBXLoader } from 'three/addons/loaders/FBXLoader.js';
			import { GUI } from 'three/addons/libs/lil-gui.module.min.js';

			THREE.ColorManagement.enabled = true;

			let camera, scene, renderer, stats;
			let model, skeleton;
			const crossFadeControls = [];

		//	let currentBaseAction = 'idle';
			const allActions = [];
			const baseActions = {
				idle: { weight: 1 },
				walk: { weight: 0 },
				run: { weight: 0 }
			};
			const additiveActions = {
				sneak_pose: { weight: 0 },
				sad_pose: { weight: 0 },
				agree: { weight: 0 },
				headShake: { weight: 0 }
			};
			let panelSettings, numAnimations;

			const clock = new THREE.Clock();

			let mixer;

			init();
			animate();

			function init() {

				const container = document.createElement( 'div' );
				document.body.appendChild( container );

				camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 2000 );
				camera.position.set( 100, 200, 300 );

				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0xa0a0a0 );
				//scene.fog = new THREE.Fog( 0xa0a0a0, 200, 1000 );

				const hemiLight = new THREE.HemisphereLight( 0xffffff, 0x444444, 0.5 );
				hemiLight.position.set( 0, 200, 0 );
				scene.add( hemiLight );

				const dirLight = new THREE.DirectionalLight( 0xffffff, 0.5 );
				dirLight.position.set( 0, 200, 100 );
				dirLight.castShadow = true;
				dirLight.shadow.camera.top = 180;
				dirLight.shadow.camera.bottom = - 100;
				dirLight.shadow.camera.left = - 120;
				dirLight.shadow.camera.right = 120;
				scene.add( dirLight );

				// scene.add( new THREE.CameraHelper( dirLight.shadow.camera ) );

				// ground
                var textureLoader = new THREE.TextureLoader();
                var skirt = textureLoader.load('/assets/glb/textures/skirt.png');
                var head = textureLoader.load('/assets/glb/textures/Std_Skin_Head_Diffuse.jpg');
                var body = textureLoader.load('/assets/glb/textures/Std_Skin_Body_Diffuse.jpg');
                var arm = textureLoader.load('/assets/glb/textures/Std_Skin_Arm_Diffuse.jpg');
                var leg = textureLoader.load('/assets/glb/textures/Std_Skin_Leg_Diffuse.jpg');
                var nails = textureLoader.load('/assets/glb/textures/Std_Nails_Diffuse.jpg');
                var eyelash = textureLoader.load('/assets/glb/textures/Std_Eyelash_Diffuse.jpg');
                var hair = textureLoader.load('/assets/glb/textures/Hair_Diffuse.png');
                var tearR = textureLoader.load('/assets/glb/textures/Std_Tearline_R_Diffuse.jpg');
                var tearL = textureLoader.load('/assets/glb/textures/Std_Tearline_L_Diffuse.jpg');
                var tongue = textureLoader.load('/assets/glb/textures/Std_Tongue_Diffuse.png');
                var upper = textureLoader.load('/assets/glb/textures/Std_Upper_Teeth_Diffuse.png');
                var lower = textureLoader.load('/assets/glb/textures/Std_Lower_Teeth_Diffuse.png');
                var hair01 = textureLoader.load('/assets/glb/textures/Hair_Diffuse_0001.png');
                var corneaL = textureLoader.load('/assets/glb/textures/Std_Cornea_L_Diffuse.png');
                var eyeL = textureLoader.load('/assets/glb/textures/Std_Eye_L_Diffuse.png');
                var corneaR = textureLoader.load('/assets/glb/textures/Std_Cornea_R_Diffuse.png');
                var eyeR = textureLoader.load('/assets/glb/textures/Std_Eye_R_Diffuse.png');
                var eyeRO = textureLoader.load('/assets/glb/textures/Std_Eye_Occlusion_R_Diffuse.jpg');
                var eyeLO = textureLoader.load('/assets/glb/textures/Std_Eye_Occlusion_L_Diffuse.jpg');
                var hair02 = textureLoader.load('/assets/glb/textures/Hair_Transparency_Diffuse.png');
                var scalp = textureLoader.load('/assets/glb/textures/Scalp_Transparency_Diffuse.jpg');
                var hair02Material = new THREE.MeshPhongMaterial({map:hair02});
                var eyeLOMaterial = new THREE.MeshPhongMaterial({map:eyeLO});
                var eyeROMaterial = new THREE.MeshPhongMaterial({map:eyeRO});
                var eyeLMaterial = new THREE.MeshPhongMaterial({map:eyeL});
                var corneaLMaterial = new THREE.MeshPhongMaterial({map: corneaL});
                var eyeRMaterial = new THREE.MeshPhongMaterial({map:eyeR});
                var corneaRMaterial = new THREE.MeshPhongMaterial({map: corneaR});
                var lowerMaterial = new THREE.MeshPhongMaterial({map: lower});
                var upperMaterial = new THREE.MeshPhongMaterial({map: upper});
                var tongueMaterial = new THREE.MeshPhongMaterial({map: tongue});
                var skirtMaterial = new THREE.MeshPhongMaterial({map: skirt});
                var tearLMaterial = new THREE.MeshPhongMaterial({map: tearL});
                var tearRMaterial = new THREE.MeshPhongMaterial({map: tearR});
                var bodyMaterial = new THREE.MeshPhongMaterial({map: body});
                var headMaterial = new THREE.MeshPhongMaterial({map: head});
                var armMaterial = new THREE.MeshPhongMaterial({map: arm});
                var legMaterial = new THREE.MeshPhongMaterial({map: leg});
                var nailMaterial = new THREE.MeshPhongMaterial({map: nails});
                var eyelashMaterial = new THREE.MeshPhongMaterial({map: eyelash});
                var hairMaterial = new THREE.MeshPhongMaterial({map: hair});
                var hair01Material = new THREE.MeshPhongMaterial({map: hair01});
                var scalpMaterial = new THREE.MeshPhongMaterial({map: scalp});
				const mesh = new THREE.Mesh( new THREE.PlaneGeometry( 2000, 2000 ), new THREE.MeshPhongMaterial( { color: 0x999999, depthWrite: false } ) );
				mesh.rotation.x = - Math.PI / 2;
				mesh.receiveShadow = true;
				scene.add( mesh );

				const grid = new THREE.GridHelper( 2000, 20, 0x000000, 0x000000 );
				grid.material.opacity = 0.2;
				grid.material.transparent = true;
				scene.add( grid );

				// model
  
				const loader = new FBXLoader();
				loader.load( 'assets/glb/dude45b.fbx', function ( object ) {

					mixer = new THREE.AnimationMixer( object );

					const action = mixer.clipAction( object.animations[ 0 ] );
					action.play();

					object.traverse( function ( child ) {

						if ( child.isMesh ) {
                            if ( child.name == "will"){
                                child.material[0] = skirtMaterial;
                                child.material[1] = scalpMaterial;
                                child.material[2] = hair02Material;
                                child.material[3] = eyeROMaterial;
                                child.material[4] = eyeLOMaterial;
                                child.material[5] = eyeRMaterial;
                                child.material[6] = corneaRMaterial;
                                child.material[7] = eyeLMaterial;
                                child.material[8] = corneaLMaterial;
                                child.material[9] = hairMaterial;
                                child.material[10] = headMaterial;
                                child.material[11] = bodyMaterial;
                                child.material[12] = armMaterial;
                                child.material[13] = legMaterial;
                                child.material[14] = nailMaterial;
                                child.material[15] = eyelashMaterial;
                                child.material[16] = tearRMaterial;
                                child.material[17] = tearLMaterial;
                                child.material[18] = tongueMaterial;
                                child.material[19] = upperMaterial;
                                child.material[20] = lowerMaterial;
                                child.material[21] = hair01Material;
                                console.log('working'); 
              }

							child.castShadow = true;
							child.receiveShadow = true;

						}

					} );
                    

					scene.add( object );
                    console.log(object); 

				} );

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.outputEncoding = THREE.sRGBEncoding;
				renderer.shadowMap.enabled = true;
				container.appendChild( renderer.domElement );

				const controls = new OrbitControls( camera, renderer.domElement );
				controls.target.set( 0, 100, 0 );
				controls.update();

				window.addEventListener( 'resize', onWindowResize );

				// stats
				stats = new Stats();
				container.appendChild( stats.dom );
				controls.update();

			}
			const gui = new GUI()
const folder1 = gui.addFolder('Base Actions');
const folder2 = gui.addFolder( 'Additive Action Weights' );
const folder3 = gui.addFolder( 'General Speed' );
const cameraFolder = gui.addFolder('Camera');
cameraFolder.add(camera.position, 'z', 0, 300);
cameraFolder.add(camera.position, 'y', 0, 300);
cameraFolder.add(camera.position, 'x', 0, 300);
cameraFolder.open();
panelSettings = {
	'modify time scale': 1.0
};

crossFadeControls.forEach( function ( control ) {

control.setInactive = function () {

	control.domElement.classList.add( 'control-inactive' );

};

control.setActive = function () {

	control.domElement.classList.remove( 'control-inactive' );

};

const settings = baseActions[ control.property ];

if ( ! settings || ! settings.weight ) {

	control.setInactive();

}

} );



const baseNames = [ 'None', ...Object.keys( baseActions ) ];

for ( let i = 0, l = baseNames.length; i !== l; ++ i ) {

	const name = baseNames[ i ];
	const settings = baseActions[ name ];
	panelSettings[ name ] = function () {

		const currentSettings = baseActions[ currentBaseAction ];
		const currentAction = currentSettings ? currentSettings.action : null;
		const action = settings ? settings.action : null;

		if ( currentAction !== action ) {

			prepareCrossFade( currentAction, action, 0.35 );

		}

	};

	crossFadeControls.push( folder1.add( panelSettings, name ) );

}

for ( const name of Object.keys( additiveActions ) ) {

	const settings = additiveActions[ name ];

	panelSettings[ name ] = settings.weight;
	folder2.add( panelSettings, name, 0.0, 1.0, 0.01 ).listen().onChange( function ( weight ) {

		setWeight( settings.action, weight );
		settings.weight = weight;

	} );

}

folder3.add( panelSettings, 'modify time scale', 0.0, 1.5, 0.01 ).onChange( modifyTimeScale );

folder1.open();
folder2.open();
folder3.open();


		function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			function animate() {

				requestAnimationFrame( animate );
				

				const delta = clock.getDelta();

				if ( mixer ) mixer.update( delta );

				renderer.render( scene, camera );

				stats.update();

			}

		</script>

	</body>
	<foot style="background-color:grey;position: absolute;width:100%;bottom: -86px;">
		<div id="container2"></div>
		<div id="foot" style="padding: 0px !important">
	{% include footwrap.html %}
	
		</div>




	</foot>
</html>
