
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web3.js Example</title>
    <style>
    .dude{
    position: relative;
    z-index: 2;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: -o-linear-gradient(135deg,#56eef4 0,#6b0aea 25%,#6b0aea 40%,#e404dd 60%,#2e21f3 80%,#2e21f3 100%);
    background: linear-gradient(-45deg,#56eef4,#6b0aea 25%,#6b0aea 40%,#e404dd 60%,#2e21f3 80%,#2e21f3);
    background-size: 600%;
    -webkit-animation: demoBackgroundRotate 16s linear infinite;
    animation: demoBackgroundRotate 16s linear infinite;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 15px;
    color: #fff;
    white-space: nowrap;
    display: block;
    cursor: pointer;
}
    </style>
    <link rel="stylesheet" href="/css/style12.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/4.0.1-alpha.5/web3.min.js"
      integrity="sha512-NfffVWpEqu1nq+658gzlJQilRBOvjs+PhEKSjT9gkQXRy9OfxI2TOXr33zS7MgGyTpBa5qtC6mKJkQGd9dN/rw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body class="page-template page-template-carbine page-template-template-v2 page-template-carbinetemplate-v2-php page page-id-70338 page-child parent-pageid-70340 no-sidebar site-www">{% include head5.html %}
    {% include script8a.html %}
    <script src="/js/web3.min.js"></script>
    {% include header1.html %}
    <div class="main  with-footer ">
     
      <div id="singularity-for-identity" class="section-wrap header block-0">
        <section id="page_head_v2_69bef0599e2c65656f411301617025f9" class="page_head_v2 69bef0599e2c65656f411301617025f9 light s5050 none     " style="background-color:#0b0c1b;">
        <div class="background desktop lazy entered applied" style="background-position: 50% 50%; background-color: rgb(11, 12, 27); background-size: cover; background-image: url(&quot;/media/Surfaces_Identity_LP_Hero@2x.png&quot;);" data-bg-multi="url( /media/Surfaces_Identity_LP_Hero@2x.png )" data-ll-status="applied"></div>
        <div class="background mobile lazy" style="background-position:50% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/Surfaces_Identity_LP_Hero@2x.png )"></div>
        <div class="underlay video"></div>
        <div class="container">
        <div class="inner">
        <div class="context">
        <div class="heading">
        <h1 class="title bold h1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Emersa<!--<sup>™</sup> --><br>
        NFT Collection</h1>
        </div>
    <div class="blurb normal regular wow fadeIn" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
    The Emersa City Genesis NFT Collection is an exciting new initiative that will enable users to own land in the virtual world of Emersa. This collection of 3334 unique non-fungible tokens (NFTs) is built using the ERC721 standard and will be packed with utility, including the ability to vote, discounts to future events, and access to various tools.
    <br>
    This unique collection was generated over 2022 through the use of advanced artificial intelligence (AI) tools, including text-based and musical AI. This collection of NFTs will provide users with a unique digital asset that holds true utility and will facilitate the development of the virtual space within Emersa.
    <br> <span id="dots" style="display: inline;">...</span><span id="more" style="display: none;">
    We are excited to invite you to join us on this journey and explore the possibilities of the Emersa City Genesis NFT Collection. The funds generated from the sale of these NFTs will be used towards the development of the virtual space within Emersa Unreal Engine Space, ensuring that it remains a safe, secure, and enjoyable environment for all users. We look forward to seeing you explore the possibilities that this collection of NFTs brings, and we are confident that it will open up new avenues of exploration and interaction within the virtual world of Emersa Unreal Engine Space.  </span></div>
    <button onclick="myFunction()" id="myBtn">Read more</button>
    <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");
        
          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more"; 
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less"; 
            moreText.style.display = "inline";
          }
        }
        </script>
    </div>
        </div>
        </div></section>
        </div>
<div class="main  with-footer ">
  
    <div id="trap-in-network-adversaries-with-singularity-hologram" class="section-wrap  block-6">
        <section id="page_head_v2_4832593137b435c7b432287d90551747" class="page_head_v2 4832593137b435c7b432287d90551747 light s5050 add_top  flip-horizontal   " style="background-color:#0b0c1b;">
        <div class="background desktop lazy entered applied" style="background-position: 0% 50%; background-color: rgb(11, 12, 27); background-size: cover; background-image: url(&quot;/media/14a.png&quot;);" data-bg-multi="url( /media/14a.png )" data-ll-status="applied"></div>
        <div class="background mobile lazy" style="background-position:0% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/14a.png )"></div>
        <div class="underlay video"></div>
        <div class="container">
        <div class="inner">
        <div class="context">
        <div class="heading">
        <h1 class="title bold h2 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">ACL</h1>
        </div>
          
        
        <div class="blurb normal regular wow fadeIn" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
        <ul><li>"Public land 20x20 packed with Utility. "</li> </ul> </div>
        <form action="">
            <div>
            <input id="mintbuttonno" class="inputnumber" type="number" style="width:73% !important" placeholder="Enter no of token" value="" min="1" max="20" dcvalue="">
           
          
        
      
        </div></form>
        <button id="mintbutton" style="width:80% !important" class="dude inputnumber">Mint AC</button>
      
       
        </div>
       
        </div></section>
        </div>
    <span style="display:none;" id="wallet-address"></span>
    <span style="display:none;" id="name"></span>
    <span style="display:none;" id="message"></span>
    <span style="display:none;" id="price" value="0.005"></span>
    <span style="display:none;" id="get-memo"></span>
    
        
    <div id="detect-respond-with-singularity-identity" class="section-wrap  block-5">
        <section id="page_head_v2_58ef1fb68af36c4b34cafec8a3079d4d" class="page_head_v2 58ef1fb68af36c4b34cafec8a3079d4d light s5050 add_top     " style="background-color:#0b0c1b;">
        <div class="background desktop lazy entered applied exited" style="background-position: 100% 50%; background-color: rgb(11, 12, 27); background-size: cover; background-image: url(&quot;/media/13a.png&quot;);" data-bg-multi="url( /media/13a.png )" data-ll-status="applied"></div>
        <div class="background mobile lazy" style="background-position:100% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/13a.png )"></div>
        <div class="underlay video"></div>
        <div class="container">
        <div class="inner">
        <div class="context">
        <div class="heading">
        <h1 class="title bold h2 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">ACC1 Bronze</h1>
        </div>
        <div class="" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
        <ul>
        <li>Commercial 60x60 digital certificate</li>
        </ul>
        </div>
        <form action="">
            <div>
            <input id="mintbuttonno1" class="inputnumber" type="number" style="width:73% !important" placeholder="Enter no of token" value="" min="1" max="20" dcvalue="">
           
          
        
      
        </div></form>
        <button id="mintbutton1" style="width:80% !important" class="dude inputnumber">Mint ACE</button>
      
        </div>
        </div> 
        </div>
        </div>
        </section>
        </div>
    <div id="trap-in-network-adversaries-with-singularity-hologram" class="section-wrap  block-6">
        <section id="page_head_v2_4832593137b435c7b432287d90551747" class="page_head_v2 4832593137b435c7b432287d90551747 light s5050 add_top  flip-horizontal   " style="background-color:#0b0c1b;">
            <div class="background desktop lazy entered applied exited" style="background-position: 0% 50%; background-color: rgb(11, 12, 27); background-size: cover; background-image: url(&quot;/media/12a.png&quot;);" data-bg-multi="url( /media/12a.png )" data-ll-status="applied"></div>
            <div class="background mobile lazy" style="background-position:0% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/12a.png )"></div>
        <div class="underlay video"></div>
        <div class="container">
        <div class="inner">
        <div class="context">
        <div class="heading">
        <h1 class="title bold h2 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">ACOG</h1>
        </div>
        <div class="blurb normal regular wow fadeIn" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
        <ul> <li>Early adopter Vip access</li> </ul> </div>
        <form action="">
            <div>
            <input id="mintbuttonno2" class="inputnumber" type="number" style="width:73% !important" placeholder="Enter no of token" value="" min="1" max="20" dcvalue="">
           
          
        
      
        </div></form>
        <button id="mintbutton2" style="width:80% !important" class="dude inputnumber">Mint ACOG</button>
      
        </div>
        </div>
        </div>
        </section>
        </div>
    <span style="display:none;" id="wallet-address"></span>
    <span style="display:none;" id="name"></span>
    <span style="display:none;" id="message"></span>
    <span style="display:none;" id="price" value="0.005"></span>
    <span style="display:none;" id="get-memo"></span>
        
    <!--  include section18.html -->
    <!--  include section21.html -->
    <!--  include section22.html -->
    <!--  include section19.html -->
   
    <div id="purpose-built-to-prevent-tomorrows-threats" class="section-wrap block-9999">
        <div class="blackout"></div>
        <section id="page_footer_c47d423c5e230d6dd3e72e5bb33f4bdb" class="light s5050 none merge-titles" style="background-color:#0b0c1b;">
        <div class="background desktop lazy entered applied exited" style="background-position: 50% 50%; background-color: rgb(11, 12, 27); background-size: cover; background-image: url(&quot;/media/Footer_BG@2x.jpg&quot;);" data-bg-multi="url( /media/Footer_BG@2x.jpg )" data-ll-status="applied"></div>
        <div class="background mobile lazy" style="background-position:50% 50%;background-color:#0b0c1b;background-size:cover;" data-bg-multi="url( /media/Footer_BG@2x.jpg )"></div>
        <div class="underlay video"><video autoplay="" muted="" loop="" class="fadein animated"><source src="/media/intro4.mp4" type="video/mp4"></video></div>
        <div class="container">
        <div class="inner">
        <div class="context">
        <div class="heading">
        <h1 class="title bold h2 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">The possibilities are beyond your</h1>
        <h2 class="title thin h2 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">imagination</h2>
        </div>
        <div class="blurb normal regular wow fadeIn" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
        Emersa offers technologies helping people connect, find communities, and grow businesses. Share immersive experiences with other people and do things together you couldn’t do in the physical world. It’s the next evolution in a long line of social technologies. Be part of change.</div>
        <div class="cta-wrap wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
        <a class="cta white" href="https://bit.ly/EmersaRPGInstall" target="">
        <span>Get a Demo</span>
        </a>
        </div>
        </div>
        </div>
        </div>
        </section>
        </div>
    <script>
        $( window ).on( "load", function () {
            $( "#page_footer_c47d423c5e230d6dd3e72e5bb33f4bdb .underlay.video" ).html( '<video autoplay muted loop><source src="/media/intro4.mp4" type="video/mp4"></video>' );
            var vid = $( "#page_footer_c47d423c5e230d6dd3e72e5bb33f4bdb .underlay.video video" );
            vid.on( "play", function () {
                $( this ).addClass( 'fadein' ).addClass( 'animated' );
            } );
        } );
        </script>
    </div>

    
      </div>
      {% include footwrap.html %}
{% include scripts3.html %}
{% include globalvideoplayer.html %}
{% include scripts1.html %}
    </main>
    <script src="/js/main3a.js"></script>
  </body>
</html>
